html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
hr,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul,
li {
  list-style-type: none;
}
/* clearfix */
.cf:before,
.cf:after,
.inside:before,
.inside:after {
  content: "";
  display: table;
}
.cf:after,
.inside:after {
  clear: both;
}
.cf,
.inside {
  zoom: 1;
}
/* LESS Variable and Mixins */
/* Icons */
@font-face {
  font-family: 'fontello';
  src: url("font/fontello.eot");
  src: url("font/fontello.eot?#iefix") format('embedded-opentype'), url("font/fontello.woff") format('woff'), url("font/fontello.ttf") format('truetype'), url("font/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  line-height: 1em;
  font-size: 150%;
}
.icon-menu:before {
  content: '\2630';
}
/* '☰' */
.icon-github:before {
  content: '\f300';
}
/* '' */
.icon-twitter:before {
  content: '\f309';
}
/* '' */
.icon-dribbble-1:before {
  content: '\f31b';
}
/* '' */
/* Social Icons */
.icnSocial {
  display: inline-block;
  line-height: 2.1;
  border: 1px solid;
  text-align: center;
  height: 28px;
  width: 28px;
  border-radius: 2px;
  padding: 0 0 0 1px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
.icnSocial i {
  font-size: 12px;
  margin: auto;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.icnSocial.twitter {
  border-color: #008cc1;
  background: #00aced;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7bc9f3), to(#00aced));
  background-image: -webkit-linear-gradient(top, #7bc9f3, #00aced);
  background-image: -moz-linear-gradient(top, #7bc9f3, #00aced);
  background-image: -ms-linear-gradient(top, #7bc9f3, #00aced);
}
.icnSocial.dribbble {
  border-color: #c8004d;
  background: #ea4c89;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ef79a7), to(#ea4c89));
  background-image: -webkit-linear-gradient(top, #ef79a7, #ea4c89);
  background-image: -moz-linear-gradient(top, #ef79a7, #ea4c89);
  background-image: -ms-linear-gradient(top, #ef79a7, #ea4c89);
}
.icnSocial.github {
  border-color: #222;
  background: #444;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555555), to(#444444));
  background-image: -webkit-linear-gradient(top, #555555, #444444);
  background-image: -moz-linear-gradient(top, #555555, #444444);
  background-image: -ms-linear-gradient(top, #555555, #444444);
}
/* typography */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-family: "freight-sans-pro", arial, sans-serif;
  color: #666666;
  font-size: 20px;
  line-height: 1.33em;
  letter-spacing: .025em;
}
h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 1;
  margin: 0 0 50px 0;
}
h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.231;
  margin-bottom: 25px;
}
h3 {
  font-weight: 700;
  font-size: 20px;
}
h4 {
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: .1em;
}
.intro {
  font-weight: 300;
  font-size: 40px;
  line-height: 1.1em;
  margin-bottom: 37.5px;
}
p,
article ul,
blockquote {
  margin: 0 0 25px 0;
}
blockquote p {
  font-size: 30px;
  line-height: 1.1;
  font-weight: 100;
  color: #aaa;
  margin: 0;
}
article li {
  margin: 0 0 10px 25px;
}
article ul li {
  list-style-type: disc;
}
article ol li {
  list-style-type: decimal;
}
article .icons li {
  list-style-type: none;
}
ul.icons li:before {
  display: block;
  content: "✓";
  color: #888;
  float: left;
  margin: 0 0 0 -25px;
  list-style-type: none;
}
strong,
b {
  font-weight: 700;
}
small {
  font-size: 15px;
  line-height: 1;
  opacity: .5;
}
small.summary {
  display: block;
  margin: -25px 0 25px;
}
a,
a:visited {
  text-decoration: none;
  color: #26ade4;
}
pre,
code,
kbd,
samp {
  font-family: "American Typewriter", 'courier new', serif;
  font-size: 15px;
  color: #888;
}
abbr[title],
dfn[title] {
  cursor: help;
}
hr {
  margin: 25px 0;
  display: block;
  border-top: 1px solid #eee;
  line-height: 0;
  height: 0;
  font-size: 0;
}
::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}
/* Fading in Typekit fonts ala http://jonikorpi.com/a-smoother-page-load/ */
.wf-loading h1,
.wf-loading h2,
.wf-loading h3,
.wf-loading p,
.wf-loading li,
.wf-loading img {
  opacity: 0;
  visibility: hidden\9;
}
h1,
h2,
h3,
p,
li,
img {
  opacity: 1;
  visibility: visible;
  /* Old IE */

  -webkit-transition: opacity 0.12s ease-in-out;
  transition: opacity 0.12s ease-in-out;
}
/* images */
img {
  width: auto;
  height: auto;
}
img.fluid {
  max-width: 100%;
}
.icnInline {
  line-height: 1.5;
}
img.skill {
  width: 72px;
  height: 72px;
}
img.x2 {
  height: 50%;
  width: 50%;
}
/* Buttons */
a.btn {
  padding: 8px 15px;
  margin: auto;
  color: #fff;
  font-size: 15px;
  line-height: 1;
  border-radius: 20px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.btn.dribbble,
.btn.github {
  opacity: .8;
}
.btn.dribbble i,
.btn.github i {
  position: relative;
  font-size: 80%;
  top: 2px;
  left: -2px;
}
.btn.dribbble:hover,
.btn.github:hover,
.btn.dribbble:focus,
.btn.github:focus,
.btn.dribbble:active,
.btn.github:active {
  opacity: 1;
}
.btn.dribbble {
  background: #ea4c89;
}
.btn.github {
  background: #222;
}
.sitelink .btn {
  background: rgba(0, 0, 0, 0.2);
}
.sitelink .btn:hover,
.sitelink .btn:focus,
.sitelink .btn:active {
  background: rgba(0, 0, 0, 0.4);
}
/* containers */
body {
  background: #ffffff url(i/bgPage.png) repeat;
  overflow-x: hidden;
}
.inside {
  width: 1000px;
  margin: auto;
  text-align: left;
}
.main {
  margin-top: 75px;
}
/* Header */
.header {
  background: #111;
  letter-spacing: .1em;
  padding: 10px 0;
  position: relative;
  z-index: 1;
}
.header nav {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.header li {
  display: inline;
  font-size: 15px;
  text-transform: uppercase;
  margin-right: 5%;
}
.header li a {
  font-weight: 500;
}
.header li.nSocial {
  float: right;
  margin: 0;
}
.header a,
.header a:visited {
  color: #fff;
}
.header li.nSocial a {
  display: inline-block;
  margin-left: 4px;
}
.home .header .ted,
.work .header li.nWork a,
.contact .header li.nContact a,
.bio .header li.nBio a,
.blog .header li.nBlog a {
  color: #26ade4;
}
a.menu-link {
  display: none;
}
/* Home */
.home {
  background: #000;
}
.home .header {
  background: rgba(0, 0, 0, 0.5);
}
.home .main .inside {
  color: #eee;
  margin-top: 75px;
}
.home .main .inside p {
  margin-right: 60%;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}
.home .main .inside p.intro {
  margin-right: 52.5%;
}
.home .main a,
.home .main a:visited {
  color: #fff;
  border-bottom: 1px solid #444;
}
.home .main a:hover,
.home .main a:focus,
.home .main a:active {
  border-color: #fff;
}
.home h1 {
  margin-top: 5%;
}
.home .footer .inside,
.home .footer a {
  color: #999;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
/* Work Index */
.work .main {
  margin-top: 25px;
}
.projects {
  border-bottom: 1px solid #eee;
}
.project {
  width: 33%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: block;
  line-height: 1;
  float: left;
  text-align: center;
}
.project img {
  border: 2px solid #fff;
  width: 100%;
}
.project a {
  color: #666666;
  display: block;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.project a:hover h4,
.project a:focus h4,
.project a:active h4 {
  color: #26ade4;
}
.project h4 {
  margin: 10px 0 5px;
}
.project small {
  margin: 0;
  display: block;
  margin-bottom: 25px;
}
/* Work Skills */
.skills {
  margin-top: 25px;
}
.skills img {
  float: left;
}
.skills h2 {
  margin-bottom: 50px;
}
.skills p {
  margin-bottom: 50px;
}
.skills h3,
.skills h4,
.skills p {
  margin-left: 85px;
}
.skills .what {
  padding-top: 50px;
  float: left;
  width: 47.5%;
}
.skills .exp {
  float: right;
  width: 45%;
  padding: 50px 0 0 2.5%;
  border-left: 1px solid #eee;
}
.skills img {
  margin-top: 6px;
}
.skills h3 {
  padding: 8px 0 8px 17px;
  margin: 0 0 8px 68px;
  border-bottom: 1px solid;
  font-weight: 400;
}
h3.product {
  color: #26ade4;
  border-color: #26ade4;
}
h3.design {
  color: #e4264e;
  border-color: #e4264e;
}
h3.code {
  color: #6bd516;
  border-color: #6bd516;
}
h3.email {
  color: #9a26e4;
  border-color: #9a26e4;
}
h3.speed {
  color: #26e4bc;
  border-color: #26e4bc;
}
h3.more {
  color: #e4bc26;
  border-color: #e4bc26;
}
.exp p {
  font-size: 15px;
  line-height: 1.33;
  margin-bottom: 50px;
}
/* Work Sections */
.workNav a {
  position: fixed;
  z-index: 99;
  top: 49%;
  font-weight: 800;
  font-size: 15px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: 15px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 210px;
  border-radius: 3px;
  transition: all 0.15s ease-in-out;
}
.workNav a span {
  text-align: left;
  text-indent: -999em;
  background: url("i/sprite.png") no-repeat;
  display: block;
  width: 9px;
  height: 14px;
}
.next {
  right: -3px;
  text-align: right;
  margin-right: -200px;
}
.workNav .next span {
  float: left;
  background-position: -10px 0;
}
.prev {
  left: -3px;
  text-align: left;
  margin-left: -200px;
}
.workNav .prev span {
  float: right;
  background-position: 0 0;
}
.next:hover,
.prev:hover {
  margin: 0;
}
.work figure {
  line-height: 0;
}
.work .mast .inside {
  position: relative;
}
.mast .text {
  width: 40%;
  float: left;
  margin-top: 5%;
}
.mast h1 {
  margin-bottom: 25px;
}
.note {
  font-size: 15px;
  line-height: 1.231;
  margin: 0 0 25px 0;
  display: block;
  opacity: .5;
}
.mast figure {
  float: right;
  width: 60%;
  text-align: center;
}
.mast .idid small {
  display: block;
  margin-bottom: 5px;
  letter-spacing: .1em;
  text-transform: uppercase;
  opacity: .5;
}
.idid li {
  position: relative;
  display: inline-block;
  margin: 0 1.5% 1.5% 0;
  line-height: 1;
  border-radius: 2px;
  color: #fff;
  padding: 6px 8px 4px;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: .15em;
  text-transform: uppercase;
  opacity: .8;
  transition: all 0.2s ease-in-out;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.33);
}
.idid .design {
  background: #b72645;
}
.idid .product {
  background: #268db7;
}
.idid .code {
  background: #8eb727;
}
.idid .email {
  background: #7f27b7;
}
.idid .speed {
  background: #26b799;
}
div.sitelink {
  margin: 0 0 25px 0;
}
.work section {
  padding: 75px 0;
  border-bottom: 1px solid #eee;
}
.work section.nobottom {
  padding-bottom: 0;
}
.work .imgr .text {
  float: left;
  width: 35%;
}
.work .imgr figure {
  float: right;
  width: 65%;
}
.work .imgl .text {
  float: right;
  width: 35%;
}
.work .imgl figure {
  float: left;
  width: 65%;
}
.work .imgr img {
  float: right;
}
.work .text img {
  float: none;
}
/* Contact */
.contact .l {
  float: left;
  width: 45%;
}
.contact .r {
  float: right;
  width: 50%;
  text-align: center;
}
.contact .r img {
  margin: 25px auto 10px;
}
.contact .r small {
  display: block;
}
img.email {
  width: 80%;
}
.map {
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px solid #eee;
  text-align: center;
  overflow: hidden;
}
/* Bio Timeline */
.bio .timeline {
  background: #f8f1e1;
  background: rgba(181, 134, 26, 0.05);
}
.bio .mast {
  background: #0f0f0f url(i/bio.jpg) top center repeat-x;
  border-bottom: 12px solid #000;
  height: 400px;
}
.bio .mast .inside {
  text-align: center;
}
.bio .mast p {
  display: inline-block;
  margin: 325px auto 0;
  font-size: 40px;
  color: #fff;
  padding: 1.5% 2%;
  background: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}
.timeline {
  position: relative;
}
.timeline .inside {
  border-left: 4px solid #e5e0d3;
  padding: 100px 0 150px 0;
}
.timeline li {
  position: relative;
  z-index: 2;
  width: 45%;
  border: 1px solid #f2f2f2;
  background: #fff;
  margin: 0 0 -75px 5%;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.timeline li:nth-child(even) {
  margin-left: 55%;
}
.timeline li:before {
  display: block;
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  height: 4px;
  margin-top: -2px;
  background: #e5e0d3;
  left: -12%;
  width: 15%;
}
.timeline li:nth-child(even):before {
  left: -123%;
  width: 125%;
}
.timeline li:after {
  position: absolute;
  z-index: -1;
  left: -10px;
  top: 50%;
  margin-top: -11px;
  content: " ";
  display: block;
  height: 14px;
  width: 14px;
  border: 4px solid #e5e0d3;
  border-radius: 20px;
  background: #f7f3e8;
}
.timeline span {
  position: absolute;
  z-index: 3;
  top: -25px;
  left: 50%;
  margin-left: -25px;
  height: 51px;
  width: 53px;
  text-align: center;
  line-height: 300%;
  letter-spacing: .1em;
  font-size: 15px;
  font-weight: 700;
  color: #495262;
}
.timeline span img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.timeline li div {
  line-height: 0;
}
.timeline p {
  color: #888;
  font-size: 20px;
  line-height: 1.231;
  border-top: 2px solid;
  padding: 5%;
  margin: 0;
}
.red p {
  border-color: #e4264e;
}
.yellow p {
  border-color: #e4bc26;
}
.green p {
  border-color: #6bd516;
}
.blue p {
  border-color: #26ade4;
}
.purple p {
  border-color: #9a26e4;
}
/* Blog */
.blog .main {
  margin-top: 0;
}
/* Blog Mast and Summary */.blog .mast {
  background: #06111a url(i/mastBlog.jpg) top center no-repeat;
  height: 250px;
  border-bottom: 3px solid #6bd516;
}
.blog .mastBottom {
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.25);
}
.blog .summary {
  text-align: center;
  position: relative;
}
.blog .summary ul {
  position: relative;
  width: 100%;
}
.blog .summary li {
  height: 2px;
  width: 20%;
  display: block;
  float: left;
}
.blog .summary .r {
  background: #e4264e;
}
.blog .summary .y {
  background: #e4bc26;
}
.blog .summary .g {
  background: #6bd516;
}
.blog .summary .b {
  background: #26ade4;
}
.blog .summary .p {
  background: #9a26e4;
}
.blog .summary div {
  margin: 60px auto;
  color: #fff;
  display: inline-block;
  background: rgba(0, 0, 0, 0.7);
}
.blog .summary div p {
  padding: 2.5% 5% 0;
  white-space: nowrap;
}
.blog .summary a,
.blog .summary a:visited {
  font-size: 15px;
  color: #888;
  border-bottom: 1px solid #444;
}
.blog .summary a:hover,
.blog .summary a:focus,
.blog .summary a:active {
  color: #fff;
  border-color: #fff;
}
.blog .summary img {
  margin: auto;
  float: none;
  display: block;
  margin-top: 10px;
}
/* Shared Detail and Archive */
.blog .article,
.blog .archive {
  width: 60%;
  margin: 0 auto 75px;
}
.blog footer {
  text-align: center;
}
.caption,
small.meta {
  text-align: center;
  display: block;
  margin-top: 10px;
}
.blog h1 {
  text-align: center;
  margin: 25px auto 0;
}
/* Blog Detail */
.blog article header {
  margin-bottom: 50px;
}
.blog .pic {
  position: relative;
  margin: 50px 0 0;
  text-align: center;
  font-size: 15px;
  color: #888;
  line-height: 0;
}
.blog article h3 {
  margin-bottom: .5em;
}
.blog article blockquote {
  padding: 2.5% 5% 2.5%;
  border-left: 5px solid #26ade4;
}
div.twitter-tweet-rendered {
  margin: 0 auto 1.5em;
}
/* Blog Archive */
.blog .archive {
  margin-top: 25px;
}
.archive li {
  text-align: center;
  font-size: 30px;
  line-height: 1;
  font-weight: 300;
  margin: 0 0 3.5% 0;
  padding: 0 0 3.5% 0;
  list-style-type: none;
  border-bottom: 1px solid #eee;
}
/* Footer */
.footer .inside {
  font-size: 15px;
  padding: 1.5% 0;
  color: #ccc;
  text-align: center;
}
.footer li {
  margin: 0 auto;
  line-height: 1.5;
}
.footer span {
  line-height: 0;
  font-size: 30px;
  position: relative;
  top: 4px;
  padding: 0 1%;
}
@media screen and (max-width: 1050px) {
  .inside {
    width: auto;
    margin: 0 10px;
  }
  .project {
    opacity: 1;
  }
  .project small {
    height: 30px;
  }
  .work .imgr figure,
  .work .imgl figure {
    width: 60%;
  }
  .work .mast .text,
  .work .imgr .text,
  .work .imgl .text {
    width: 35%;
  }
  figure img {
    max-width: 100%;
  }
  .olay .mast figure,
  .seatgeek .mast figure,
  .cloudee .mast figure,
  .tru .mast figure {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .footer span {
    font-size: 150%;
  }
  .blog .canvas {
    padding: 0 17.5%;
  }
}
@media screen and (max-width: 639px) {
  /* Main Navigation */
  .header {
    background: none;
    padding: 0;
    border: 0;
  }
  .header .inside {
    text-align: center;
  }
  a.menu-link {
    text-align: center;
    display: block;
    padding: .5em 0;
    margin: 0 -10px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: .1em;
    border: 1px solid #222;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    background: #444444;
    /* Old browsers */
  
    background: -moz-linear-gradient(top, #444444 0%, #222222 100%);
    /* FF3.6+ */
  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #444444), color-stop(100%, #222222));
    /* Chrome,Safari4+ */
  
    background: -webkit-linear-gradient(top, #444444 0%, #222222 100%);
    /* Chrome10+,Safari5.1+ */
  
    background: -o-linear-gradient(top, #444444 0%, #222222 100%);
    /* Opera 11.10+ */
  
    background: -ms-linear-gradient(top, #444444 0%, #222222 100%);
    /* IE10+ */
  
    background: linear-gradient(to bottom, #444444 0%, #222222 100%);
    /* W3C */
  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#222222', GradientType=0);
    /* IE6-9 */
  
  }
  a.menu-link i {
    position: relative;
    top: 2px;
  }
  nav {
    margin: 0 -10px;
    max-height: 0;
    overflow: hidden;
  }
  nav.active {
    max-height: 22em;
  }
  .header li {
    display: block;
    width: 100%;
    text-align: center;
    background: #222;
    border-top: 1px solid #000;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.075);
  }
  .header li.nSocial {
    display: none;
  }
  .header li a {
    display: block;
    padding: 0.75em 0;
  }
  .header li.nSocial a {
    display: inline-block;
    padding: 0;
  }
  /* general */
  /* home */
  #backstretch {
    opacity: .5;
  }
  .home .main .inside {
    margin-top: 0;
  }
  .home .main .inside p,
  .home .main .inside p.intro {
    margin-right: 0;
  }
  .home .main .inside p.intro {
    font-size: 30px;
  }
  /* work index */
  .project {
    width: 50%;
    display: block;
    float: left;
    margin: 0;
  }
  .skills {
    border: 0;
    margin: 0;
  }
  .skills .what,
  .skills .exp {
    width: 100%;
    float: none;
    border: 0;
    padding: 0;
  }
  .skills h2 {
    margin: 50px 0 25px;
  }
  /* Work Sections */
  .work .mast .text,
  .work .mast figure,
  .work .imgr .text,
  .work .imgr figure,
  .work .imgl .text,
  .work .imgl figure,
  .work .full .text,
  .work .full figure {
    float: none;
    width: 100% !important;
  }
  .work .mast {
    background-image: none;
  }
  .mast h1 {
    text-align: center;
  }
  .olay .mast h1 img {
    width: 75%;
  }
  .sitelink {
    text-align: center;
  }
  .idid {
    display: block;
    text-align: center;
  }
  .idid img {
    margin: 0 .1%;
  }
  .work .text,
  .work section.nobottom {
    padding-bottom: 25px;
  }
  .work .mast figure {
    position: static;
  }
  /* Contact Section */
  .contact .l,
  .contact .r {
    float: none;
    width: 100%;
    margin: 0;
  }
  .contact .r {
    margin: 50px 0;
    padding: 50px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  img.email {
    width: 100%;
    margin-bottom: 50px;
  }
  /* Bio Section */
  .bio .mast p {
    margin-top: 150px;
  }
  .timeline .inside {
    padding: 0;
  }
  .timeline li,
  .timeline li:nth-child(even) {
    margin: 50px 10px;
    width: auto;
  }
  .timeline li:before,
  .timeline li:nth-child(even):before {
    left: -11px;
    width: 11px;
  }
  .timeline li img.fluid {
    width: 100%;
  }
  .timeline li:after {
    display: none;
  }
  /* Blog Section */
  .blog .article,
  .blog .archive {
    width: 90%;
  }
  .blog .summary div p {
    white-space: normal;
  }
  /* Footer */
  .footer .inside {
    text-align: center;
  }
  .footer em {
    display: block;
    float: none;
  }
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a[href]:after {
    content: "(" attr(href) ")";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
