@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{margin:0; padding:0; border:0; outline:0; font-size:100%; font:inherit; vertical-align:baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
body{line-height:1}
blockquote, q{quotes:none}
blockquote:before, blockquote:after, q:before, q:after{content:''; content:none}
table{border-collapse:collapse; border-spacing:0}

body {background: url(/content/status/bg.jpg) bottom right repeat; text-align: center;}
#wrapper {display: block; width: 90%; text-align: left; margin: 0 auto;}
#wrapper, #header, #skills, #recruit {zoom: 1}
#wrapper:after, #header:after, #skills:after, #recruit:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

.half {width: 45%; padding: 0 5% 0 0; display: block;float: left;}
#resume.half {width: 45%; padding: 0 5% 0 0;}
.qtr {width: 22%; padding: 0 3% 0 0; display: block;float: left;}
.one-third {width: 33%; display: block; float: left;}
.two-third {width: 61%; display: block; float: left; margin-left: 6%}
body {font-family: 'Courier New', Courier, monospace; color: #444; font-size: 15px; line-height: 22px; text-shadow: 0 1px 1px rgba(255,255,255,.5);}
a, a:visited {}
a:hover, a:focus {}
a:active {position: relative; top: 1px;}
img {max-width: 100%;}

#tg {display: block; padding-top: 5px;height: 40px; background: #262626; background: rgba(0,0,0,.75); text-align: center;}
#tg li {display: inline; margin: 0 20px; text-shadow: 0 1px 1px #000;}
#tg a, #tg a:visited {display:inline-block; padding:5px 10px;color: #fff;text-decoration: none;opacity: .5}
#tg a:hover, #tg a:active, #tg a:focus {opacity: 1}

section {display: block; padding-top: 7%; margin-top:6.5%; background: url(/content/status/hdots.png) top left repeat-x;}

#header {}
h1 {margin: 5% 0;}
#fulltime, #freelance {width: 48%; padding: 0;}
#fulltime {padding-right: 4%;}
#header h2 {font-weight: bold; font-size: 125%; height: 76px; padding:20px 0 0 90px}
#header h2 span {}
#header h2 strong {display: block;font-size: 250%; margin-top: 2%; color: #f2f0e5; text-shadow: 0 1px 1px rgba(0,0,0,.5)}
#header p {margin: 20px 25px 0 25px}
h2.no {background: url(/content/status/status.png) 0 0 no-repeat; -moz-border-radius: 10px;}
h2.maybe {background: url(/content/status/status.png) 0 -100px no-repeat; -moz-border-radius: 10px;}

h1 {display: block; text-align: center; font-size: 100px; color: #fff; line-height: 1em}
h1 img {}

#resume {text-align: center;}
#resume p {margin: 15px 0;}
a img#btn {opacity: .9;}
a:hover img#btn {opacity: 1;} 
.qtr ul {margin: 3% 0 0 5%;}

footer {display: block; margin: 7% 0 1% 0; text-align: center}
a#linkedin {color: #077cb1}
a#twitter {color: #1f83b2}
a#dribbble {color: #c43e71}
a#search {color: #3366ff}
footer a:hover, footer a:focus, footer a:active {color: #000 !important}

#ie6 #skills img, #ie6 h2 img, #ie6 h3 img {width: 99%}