.mast {
  background: #0060af url(i/mastTRU.jpg) top center repeat;
  color: #fff;
  padding: 2.5% 0 0 0;
  border-bottom: 1px solid #ccc;
}
.mast .idid {
  margin-bottom: 5%;
}
.mast figure {
  position: absolute;
  bottom: 0;
  right: 0;
}
