<footer role="contentinfo" class="site-width py-6 hd-border-top">
    <p class="text-xs tc-light">Design and code (except graphics) are open source on <a href="https://github.com/TedGoas/Dante" class="muted">GitHub</a>. See the <a href="https://github.com/TedGoas/Dante/pull/67" class="muted">pull request</a> for the current design, or read <a href="https://www.tedgoas.com/humans.txt" class="muted">the&nbsp;credits</a>.</p>
</footer>
