<footer>
    <p class="text-sm text-gray-600">Design and code (except graphics) are open source on <a href="https://github.com/TedGoas/Dante">GitHub</a>. See the <a href="https://github.com/TedGoas/Dante/pull/67">pull request</a> for the current design, or read the <a href="https://www.tedgoas.com/humans.txt">credits</a>.</p>
</footer>