<footer class="site-footer hd-border-right">
    <p class="p-6 text-xs tc-light hd-border-top">Design and code (except graphics) are open source on <a href="https://github.com/TedGoas/Dante" class="mono">GitHub</a>. See the <a href="https://github.com/TedGoas/Dante/pull/67" class="mono">pull request</a> for the current design, or read <a href="https://www.tedgoas.com/humans.txt" class="mono">the&nbsp;credits</a>.</p>
</footer>
