<header class="text-center hd-border-bottom pt-3">
	<a class="leading-none link-unstyled m-auto inline-block" href="/" aria-label="Back to home">
		<img src="/images/logo/tg-sig-logo.svg" alt="Ted Goas signature logo." height="46" width="116" border="0">
	</a>
	<div class="byline pb-2 text-sm text-gray-700">
		Principal Product Designer working remotely at Stack Overflow
	</div>
	<nav class="m-auto inline-block pb-4">
		<ul class="flex flex-row flex-wrap">
			{% for item in navigation.main %}
			<li>
				<a href="{{ item.url | safe }}" class="link mr-4 {% if page.url == item.url %}active text-pink-500{% endif %}
				">{{ item.label }}</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
</header>
