<header class="header-site flex py-4 justify-between items-center hd-border-bottom sm:block">
	<a class="logo leading-none mr-8" href="/" aria-label="Back to home">
		<img src="/images/logo/tg-sig-logo.svg" alt="Ted Goas signature logo." height="60" width="122" border="0">
	</a>
	<nav class="nav">
		<ul class="flex flex-row flex-wrap sm:leading-loose">
			{% for item in navigation.main %}
			<li>
				<a href="{{ item.url | safe }}" class="link-nav uppercase tracking-wider ml-8 {% if page.url == item.url %}active highlighted{% endif %}">{{ item.label }}</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
</header>
