//==========  Hand drawn elements ==========//

.hd-border-bottom {
    background: url("../../../images/hd-border-x.svg") bottom left repeat-x;
}
.hd-border-top {
    background: url("../../../images/hd-border-x.svg") top left repeat-x;
}
.hd-border-left {
    background: url("../../../images/hd-border-y.svg") top left repeat-y;
}
.hd-border-right {
    background: url("../../../images/hd-border-y.svg") top right repeat-y;
}
