
//==========  Links ==========//

.link-transition {
    transition: .1s all ease-out;
}
a {
  @apply text-red-5 link-transition font-bold underline;

  text-decoration-thickness: .15em;
  text-underline-offset: 3px;
  text-decoration-skip-ink: auto;
  text-decoration-color: theme('colors.gray.7');

  &:hover {
      text-decoration-color: theme('colors.red.5');
  }
}
a.link-nav.active,
a.unstyled {
  @apply no-underline;
}
a.muted {
  @apply text-white;
}