
//==========  Links ==========//

.link-transition {
    transition: .1s all ease-out;
}

/*
a:not(.link-unstyled) {
    @apply no-underline text-blue-500 border-solid border-b-2 border-gray-300 link-transition;

*/
a:not(.link-nav) {
    @apply text-cyan-4 link-transition;

    text-decoration-thickness: .125em;
    text-underline-offset: 3px;
    text-decoration-skip-ink: auto;

    &:hover {
        @apply underline;
        text-decoration-color: theme('colors.cyan.4');
    }
}
