
//==========  Links ==========//

.link-transition {
    transition: .1s all ease-out;
}
a {
  @apply text-cyan-4 link-transition font-bold;

  text-decoration-thickness: .125em;
  text-underline-offset: 3px;
  text-decoration-skip-ink: auto;

  &:hover {
      @apply underline;
      text-decoration-color: theme('colors.cyan.4');
  }
}
a.link-nav.active:hover {
  @apply no-underline;
}
