<div class="work-gallery__media click-to-play" data-click-to-play style="--click-to-play-aspect-ratio: {{ width }} / {{ height }}; --click-to-play-width: {{ width }}px; --click-to-play-height: {{ height }}px;">
  <div class="click-to-play__frame">
    <img
      class="click-to-play__poster"
      src="{{ poster }}"
      alt="{{ alt }}"
      width="{{ width }}"
      height="{{ height }}"
      loading="lazy"
      decoding="async"
    >
    <video
      class="click-to-play__video"
      data-video-src="{{ video }}"
      width="{{ width }}"
      height="{{ height }}"
      muted
      playsinline
      preload="none"
      aria-hidden="true"
    ></video>
    <button type="button" class="click-to-play__start">
      <span class="click-to-play__icon" aria-hidden="true">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 5.14v13.72L19 12L8 5.14z" fill="currentColor"/>
        </svg>
      </span>
      <span class="visually-hidden">Play {{ alt }}</span>
    </button>
  </div>
</div>
