{%- set signupRoot = modifier or 'newsletter-signup' -%}
<section class="{{ signupRoot }}" aria-label="Newsletter signup form">
  <iframe
    src="https://subscribe-forms.beehiiv.com/a76dbad3-e582-4dcf-9829-dd6e93295b7a"
    class="beehiiv-embed"
    data-test-id="beehiiv-embed"
    width="100%"
    frameborder="0"
    scrolling="no"
    title="Newsletter signup form"
  ></iframe>
</section>
