<label class="site-theme-picker">
  <span class="visually-hidden">Color theme</span>
  <select class="site-theme-picker__select" id="site-theme" name="site-theme">
    <option value="light">Light</option>
    <option value="dark">Dark</option>
  </select>
</label>
