.nav {
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  li {
    margin-right: 10px;

    a {
      padding: 5px;
    }
  }
}
