<div class="outside header">
	<div class="inside">
		<div class="wrap" id="wrap">
			<nav>
				<ul class="primary">
		 			<li class="nSocial">
		 				<a href="http://www.twitter.com/tedgoas" title="What I'm saying" rel="external me" class="icnSocial twitter"><i class="icon-twitter"></i></a>
		 				<a href="http://www.dribbble.com/tedgoas" title="What I'm designing" rel="external me" class="icnSocial dribbble"><i class="icon-dribbble-1"></i></a>
		 				<a href="http://www.github.com/tedgoas" title="What I'm coding" rel="external me" class="icnSocial github"><i class="icon-github"></i></a>
		 			</li>
					<li class="nHome"><a href="/" title="home" rel="home" class="ted">Ted Goas</a></li>
					<li class="nWork"><a href="/work" title="portfolio work">Work</a></li>
					<li class="nContact"><a href="/contact" title="contact and availability">Contact</a></li>
					<li class="nBio"><a href="/bio" title="about me">Bio</a></li>
					<li class="nBlog"><a href="/blog" title="blog">Blog</a></li>
		 		</ul>
		 	</nav>
			<a href="#menu" class="menu-link"><i class="icon-menu"></i> Menu</a>
		</div>
	</div>
</div>