//==========  Header ==========//

// HACK: to get blog nav item highlighted
// This CSS is repeated from _typography.scss
body#blog .nav li:last-of-type a {
  @apply p-2 text-gray-9 font-bold no-underline;
	position: relative;
	z-index: 1;
	white-space: nowrap;

	&:after {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		top: -4px;
		right: -7px;
		bottom: -4px;
		left: -7px;
		background-position: center center;
		background-size: 100% auto;
		background-repeat: no-repeat;
    background-image: url("../../../images/misc/highlight.svg");
	}
}
