//==========  Header ==========//
.site-header {
    display: grid;
    grid-template-columns: 125px auto;
    grid-column-gap: .5em;
    align-items: center;
}
.byline {
    align-self: end;
}
.sitenav {
    grid-row: 2;
    grid-column: 1 / 3;
}