@import '../base/typography';

//==========  Header ==========//
.header-site {
  display: grid;
  align-items: center;
  grid-template-columns: 122px 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: .5em;
  @apply mt-6 pb-6;

  .logo {
    grid-area: 1 / 1 / 3 / 2;
  }
  .byline {
    grid-area: 1 / 2 / 2 / 3;
  }
  .nav {
    grid-area: 2 / 2 / 3 / 3;
  }
}

// HACK: to get blog nav item highlighted
// This CSS is repeated from _typography.scss
body#blog .nav li:last-of-type a {
  @apply p-2 text-gray-9 font-bold no-underline;
	position: relative;
	z-index: 1;
	white-space: nowrap;

	&:after {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		top: -4px;
		right: -7px;
		bottom: -4px;
		left: -7px;
		background-position: center center;
		background-size: 100% auto;
		background-repeat: no-repeat;
    background-image: url("../../../images/misc/highlight.svg");
	}
}
