.site-layout {
  display: grid;
  grid-template-columns: 14rem 1fr;
  grid-template-rows: 1fr 0fr;
  grid-template-areas:
  "site-header site-content"
  "site-footer site-content";

  .site-header {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  .site-content {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
  }
  .site-footer {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  > main {
    @apply flex-grow;
  }
}
body:not(#home) .site-layout {
  > main {
    @apply mx-12 pb-12 mt-12;
  }
}

@screen sm {
  .site-layout {
    @apply block;
  }
}


.hr {
  @apply w-56 mx-0;
  height: 8px;
  background: url("../../images/misc/hd-hr.svg") top left repeat-x;
}
.hr-above {
  @apply relative pt-20;

  &:before {
    @apply block hr absolute top-0 mt-10 w-56;
    content: "";
  }
}

article {
  .hr {
    @apply my-8;
  }
  .hr-lg {
    @apply my-16;
  }
  figure {
    @apply block mb-8 max-w-full;

    figcaption {
      @apply text-sm mt-4 text-gray-5;
    }
  }
}
