.mast {
  background: #f7f5ef url(i/mastOlay.jpg) top center repeat;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.mast figure {
  margin-top: -25px;
}
.video .text {
  width: 40%;
}
.video figure {
  width: 55%;
}
