---
layout: default
meta_title: Contact
meta_description: How to contact me and my relative availability for those interested in working together.
body_class: contact
title: Contact
---

<main class="main">
    <article>
        <h1 class="page-title">{{ title }}</h1>
        <p>If you're interested in <strong class="highlighted-long">freelance work</strong> and have something small or well-defined, let's chat. Please be aware that I already have a handful of freelance clients, personal projects, and my day job.</p>
        <p>If you have a question <strong class="highlighted-long">about Cerberus</strong>, consider opening an issue, pinging me on Twitter, or emailing me.</p>
        <p>For anything else, shoot me an email!</p>
        <img src="/images/misc/email.svg" alt="ted at ted goas dot com." width="292" height="80">
    </article>
</main>
