---
layout: default
meta_title: Home
meta_description: I believe design is about taking the complex and chaotic and making it accessible to people. I design things to be understandable, readable, responsive, and as fast as possible. Since 2001, I’ve been trying to create work that is cool enough to show my friends and honest enough to show my parents.
body_class: home
title: I’m a reliable product designer and front-end developer working on websites, applications, and HTML emails.
pagination:
  data: collections.blog
  size: 10
  alias: articles
---

<main class="main max-w-3xl mx-auto">
  <section class="hd-border-bottom pb-12 mb-12">
    <div class="flex flex-row-reverse mb-4 sm:block">
      <div class="flex-1">
        <img src="/images/misc/ted-goas.jpg" alt="Photo of Ted Goas smiling in a blue shirt against a brick wall." width="150" height="">
      </div>
      <h1 class="flex-4 text-4xl font-normal leading-tight tracking-tight my-4 mr-4">I’m a <span class="highlighted">reliable</span> product designer and <span class="whitespace-no-wrap">front-end</span> developer working on websites, applications, and HTML emails.</h1>
    </div>
    <p class="text-xl">I believe design is about taking the complex and chaotic and making it accessible to people. I design things to be understandable, readable, responsive, and as fast as possible. Since 2001, I’ve been trying to create work that is cool enough to show my friends and honest enough to show my parents.</p>
  </section>
  <section class="hd-border-bottom pb-12 mb-12">
    <h2 class="h-tiny mb-8">Work</h2>
    <div class="flex gs8 sm:block">
      <div class="flex--cell sm:mb-12">
        <a href="/stackoverflow" class="flex items-end mb-4">
          <img src="/images/work/stackoverflow/thumb-lg.jpg" width="200" height="" alt="" class="border border-solid border-gray-9">
          <img src="/images/work/stackoverflow/thumb-sm.jpg" width="175" height="" alt="" class="border border-solid border-gray-9">
        </a>
        <p>Currently <a href="/stackoverflow">I work at Stack Overflow</a> creating better workflows for over 50 million developers. I’ve worked on several parts of the product and am particularly proud of <a href="/community-health">the community health dashboard</a> and <a href="">leaderboard features</a>.</p>
      </div>
      <div class="flex--cell">
        <a href="/canfield" class="flex items-end mb-4">
          <img src="/images/work/canfield/thumb-lg.jpg" width="200" height="" alt="" class="border border-solid border-gray-9">
          <img src="/images/work/canfield/thumb-sm.jpg" width="175" height="" alt="" class="border border-solid border-gray-9">
        </a>
        <p>Before that <a href="/canfield">I worked at Canfield Scientific</a> designing applications that help doctors run their practice and clinicians run their studies. I’m particularly proud of the Clinical Services site I worked on.</p>
      </div>
    </div>
  </section>
  <section class="home-posts-grid sm:block">
    <h2 class="h-tiny home-posts-title sm:mb-8">Recent blog posts</h2>
    <ul class="home-posts-list">
      {% for post in articles %}
      <li class="mb-4 flex justify-between items-start sm:block sm:mb-4">
        <a href="{{ post.url }}">{{ post.data.title }}</a>
        <time datetime="{{ post.date | dateDisplay }}" class="whitespace-no-wrap pl-4 pt-1 text-xs uppercase tc-light sm-mt1">
          {{ post.date | dateDisplay }}
        </time>
      </li>
      {% endfor %}
    </ul>
    <div class="home-posts-footer">
      <p class="text-sm">I also write on <a href="" class="muted">Medium</a> and <a href="" class="muted">Dev.to</a>, but I like owning my own content.</p>
      <div class="flex items-center mt-4">
        <a href="" class="mr-2">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.00290489 9.566C2.25054 9.566 4.36347 10.4405 5.95134 12.0311C7.54212 13.6217 8.41794 15.7403 8.41794 17.9957H11.8816C11.8816 11.4448 6.55265 6.11573 0.00290489 6.11573V9.566ZM0.00835145 3.44991C8.01888 3.44991 14.5363 9.97685 14.5363 18H18C18 8.07414 9.92847 0 0.00835145 0V3.44991ZM4.79811 15.5899C4.79811 16.9092 3.72367 17.9794 2.39906 17.9794C1.07444 17.9794 0 16.9096 0 15.5899C0 14.2698 1.07407 13.2004 2.39869 13.2004C3.72331 13.2004 4.79811 14.2698 4.79811 15.5899Z" fill="#FD7E14"/>
            </svg>            
        </a>
        <span class="tc-light text-xs">(still a thing)</span>
      </div>
    </div>
  </section>
</main>
