---
layout: default
meta_title: Home
meta_description: I believe design is about taking the complex and chaotic and making it accessible to people. I design things to be understandable, readable, responsive, and as fast as possible. Since 2001, I’ve been trying to create work that is cool enough to show my friends and honest enough to show my parents.
body_class: home
title: I’m a reliable product designer and front-end developer working on websites, applications, and HTML emails.
pagination:
  data: collections.blog
  size: 10
  alias: articles
---

<main class="main max-w-3xl mx-auto">
  <section class="hd-border-bottom pb-12 mb-12">
    <div class="flex flex-row-reverse mb-4 sm:block">
      <div class="flex-1">
        <img src="/images/misc/ted-goas.jpg" alt="Photo of Ted Goas smiling in a blue shirt against a brick wall." width="150" height="">
      </div>
      <h1 class="flex-4 text-4xl font-normal leading-tight tracking-tight my-4 mr-4">I’m a <span class="highlighted">reliable</span> product designer and <span class="whitespace-no-wrap">front-end</span> developer working on websites, applications, and HTML emails.</h1>
    </div>
    <p class="text-xl">I believe design is about taking the complex and chaotic and making it accessible to people. I design things to be understandable, readable, responsive, and as fast as possible. Since 2001, I’ve been trying to create work that is cool enough to show my friends and honest enough to show my parents.</p>
  </section>
  <section class="hd-border-bottom pb-12 mb-12">
    <h2 class="h-tiny mb-8">Work</h2>
    <div class="flex gs8 sm:block">
      <div class="flex--cell sm:mb-12">
        <a href="/work/stackoverflow" class="flex items-end mb-4">
          <img src="/images/work/health-dashboard/thumb-lg.jpg" width="200" height="" alt="" class="border border-solid border-gray-9">
          <img src="/images/work/stackoverflow/thumb-sm.jpg" width="175" height="" alt="" class="border border-solid border-gray-9">
        </a>
        <p>Currently <a href="/work/stackoverflow">I work at Stack Overflow</a> creating better workflows for over 50 million developers. I’ve worked on several parts of the product and am particularly proud of <a href="/work/community-health">the community health dashboard</a>.</p>
      </div>
      <div class="flex--cell">
        <a href="/work/canfield" class="flex items-end mb-4">
          <img src="/images/work/canfield/thumb-lg.jpg" width="200" height="" alt="" class="border border-solid border-gray-9">
          <img src="/images/work/canfield/thumb-sm.jpg" width="175" height="" alt="" class="border border-solid border-gray-9">
        </a>
        <p>Before that <a href="/work/canfield">I worked at Canfield Scientific</a> designing applications that help doctors run their practice and clinicians run their studies. I’m particularly proud of the Clinical Services site I worked on.</p>
      </div>
    </div>
  </section>
  <section class="home-posts-grid sm:block">
    <h2 class="h-tiny home-posts-title sm:mb-8">Recent blog posts</h2>
    <ul class="home-posts-list">
      {% for post in articles %}
      <li class="mb-4 flex justify-between items-start sm:block sm:mb-6">
        <a href="{{ post.url }}">{{ post.data.title }}</a>
        <time datetime="{{ post.date | dateDisplay }}" class="whitespace-no-wrap pt-1 text-xs uppercase tc-light pl-2 sm:block sm:pl-0">
          {{ post.date | dateDisplay }}
        </time>
      </li>
      {% endfor %}
    </ul>
    <p class="home-posts-footer text-sm">I also write on <a href="" class="muted">Medium</a> and <a href="" class="muted">Dev.to</a>, but I like owning my own content.</p>
  </section>
</main>
