---
layout: default
meta_title: Values
meta_description: Values page description
body_class: values
title: Values
---

<main role="main" class="main">
  <article role="article">
    <h1 class="page-title">{{ title }}</h1>
    <p>I'm a highly adaptable product designer. I prefer working as a generalist (going moderately deep in several areas) over specializing (going very deep in just one or two).</p>
    <p>I’m comfortable writing functional specs with product managers, jumping into code with engineers, and reviewing metrics with marketers. I can document every edge case in a design file, review pull requests in GitHub, lead research sessions, write UX copy or long-form content, run meetings, and present features and ideas to a large group.</p>
    <p>I also value the “people” part of my job: mentoring, hiring, improving design team processes, and contributing to the team culture.</p>
    <h2>What Does “Great Design” Look Like?</h2>
    <p>My primary job as a designer is to enable others to see the future. To see what could be. To help the team make better decisions faster.</p>
    <p>Conducting user research, producing wireframes and UX flows, and prototyping UIs are table stakes for any designer. A great designer’s job also includes:</p>
    <ul>
    <li><strong>📣 Facilitating:</strong> Help communicate everyone’s ideas by making them tangible, clarify goals, and check for understanding.</li>
      <li><strong>💎 Stewardship:</strong> Protect and promote design, spread user perspective throughout the organization.</li>
      <li><strong>🌟 Connoisseurship:</strong> Show folks what good design is, elevate the team’s taste, and hold the quality line.</li>
    </ul>
    <p>My coworker and I led a workshop on <a href="https://uxplanet.org/tips-for-leading-a-design-project-a638f5a71884">how designers lead design projects</a> at Stack Overflow.</p>
    <p>Which is a good segue into…</p>
    <h2>Product Development Processes</h2>
    <p>For the past few years, I’ve worked in a double diamond process. Maybe you’re familiar with it:</p>
    <figure class="unbound max-w-5xl">
      <img src="/images/misc/process.svg" alt="Double diamond product development process chart.">
    </figure>
    <ul>
      <li><strong>Discover:</strong> Understand the current condition by auditing existing designs, reviewing competitors, interviewing users, “How Might We” brainstorming sessions, and gathering insights.</li>
      <li><strong>Define:</strong> Synthesize the ideas identified and focus on the most compelling opportunities. What has the most potential impact? Which should we do first? What’s feasible? What does success look like? The goal is to define exactly what we’ll do and won't do.</li>
      <li><strong>Develop:</strong> Explore the best potential solutions. Designs concepts are created, prototyped, tested, and iterated. This trial and error process helps ideas improve.</li>
      <li><strong>Deliver:</strong> As confidence in the solution increases, exploration gives way to engineering. Working software is created, optimized, and shipped.</li>
    </ul>
    <p>It fits our team well and I work in every phase. I especially like the parts where the problem is defined (every project needs goal and non-goals) and explored widely (considering a few wildly different ideas).</p>
    <figure>
      <img src="/images/misc/refinement-exploration.jpg" alt="Refinement vs exploration charts." class="max-w-lg">
      <figcaption><a href="https://twitter.com/destraynor/status/1087398748479733760">source</a></figcaption>
    </figure>
    <p>The double-diamond approach is fine. I don’t care as much about which product development process a team uses, I care more that there is a defined product development process the team shares and iterates on.</p>
  </article>
</main>
