---
layout: default
meta_title: Work
meta_description: A collection of case studies.
body_class: work
title: Work
---

<main class="main site-width">
  <h1 class="page-title">{{ title }}</h1>

    {% for post in collections.work | reverse %}
    <a href="{{ post.url }}" class="workitem flex mb-6 p-4 max-w-4xl unstyled border border-solid border-gray-8 hover:border-gray-7 md:block">
      <div class="workitem-image mr-6 flex items-end">
        <img src="{{ post.data.thumb_lg }}" width="200" height="" alt="" class="border border-solid border-gray-9">
        <img src="{{ post.data.thumb_sm }}" width="175" height="" alt="" class="border border-solid border-gray-9">
      </div>
      <div class="text-white pt-3 workitem-text max-w-md relative">
        <h2 class="text-2xl leading-none mb-3">{{ post.data.title }}</h2>
        <p class="font-normal text-lg leading-snug">{{ post.data.excerpt }}</p>
        <img src="/images/misc/arrow.svg" aria-hidden="true" alt="" class="arrow transform -rotate-90 absolute bottom-0 right-0 -mb-4 opacity-0">
      </div>
    </a>
    {% endfor %}
</main>
