---
layout: default
meta_title: Work
meta_description: A collection of case studies.
body_class: work
title: Work
---

<main class="main site-width">
  <h1 class="page-title">{{ title }}</h1>

    {% for post in collections.work | reverse %}
    <a href="{{ post.url }}" class="workitem overflow-hidden relative mb-4 px-6 pt-6 max-w-3xl unstyled flex items-start">
      <div class="pr-6 workitem-image">
        <img src="https://picsum.photos/600/400">
      </div>
      <div class="text-white pt-3 workitem-text">
        <h2 class="text-4xl leading-none mb-3">{{ post.data.title }}</h2>
        <p class="font-normal text-xl leading-snug">{{ post.data.excerpt }}</p>
      </div>
      <div class="workitem-background absolute inset-0 -z-1 rounded {{ post.data.indexColor }}"></div>
    </a>
    {% endfor %}
  </ul>
</main>
