---
layout: default
meta_title: Work
meta_description: A collection of case studies.
body_class: work
title: Work
---

<main class="main site-width">
  <h1 class="page-title">{{ title }}</h1>

    {% for post in collections.work | reverse %}
    <a href="{{ post.url }}" class="workitem flex mb-6 p-3 max-w-3xl unstyled border border-solid border-gray-8 hover:border-gray-7 sm:block">
      <div class="workitem-image mr-6">
        <img src="https://picsum.photos/400/300" class="w-full">
      </div>
      <div class="text-white pt-3 workitem-text max-w-sm relative">
        <h2 class="text-2xl leading-none mb-3">{{ post.data.title }}</h2>
        <p class="font-normal text-lg leading-snug">{{ post.data.excerpt }}</p>
        <span class="arrow absolute bottom-0 right-0 opacity-0">--></span>
      </div>
    </a>
    {% endfor %}
</main>
