<footer role="contentinfo" class="site-footer">
  <div class="wrapper">
      Design and code (except graphics) are open source on <a href="https://github.com/TedGoas/Dante">GitHub</a>. See the <a href="https://github.com/TedGoas/Dante/pull/100">pull request</a> for the current design, or read the <a href="/humans.txt">credits</a>.
  </div>
</footer>
