<a class="skip-link" href="#main-content">Skip to content</a>
<header role="banner" class="site-header">
  <div class="wrapper">
    <span class="visually-hidden">{{ site.name }}: {{ pageType }}</span>
    <div class="">
      <a href="/" class="" {{ 'aria-current=page' if page.url == '/' | safe }}>
        <span class="visually-hidden">{{ 'Back to homepage' if page.url != '/' else 'Homepage' }}</span>
        <span class="" aria-hidden="true">
          <img src="/images/site/tg-sig-logo.svg" alt="Ted Goas." width="197" height="97">
        </span>
      </a>
      <p>Designing remotely at Stack Overflow</p>
      {% include "partials/components/nav.njk" %}
    </div>
  </div>
</header>
