:root {
	--bio-card-margin: 125px;
}

.bio-cards {
	display: grid;
	grid-gap: 0 20%;
	align-items: start;
	grid-template-columns: repeat(2, 40%);
	margin-top: var(--bio-card-margin);
	@apply sm:block sm:mt-0;
}
.bio-card {
	@apply relative p-3;
	margin-top: calc(var(--bio-card-margin) * -1);
	background-color: rgba(255,255,255,.1);

	&:before {
		@apply absolute block w-3 h-3 right-0 bottom-0 opacity-50;
		content:"";
	}
	img {
		width: 100%;
	}
	h2,
	p {
		@apply pl-4;
	}
	p {
		@apply text-sm mb-2;
	}
	h2 {
		@apply mt-5 mb-3 relative text-sm inline-block tracking-wider font-mono;

		&:after {
			@apply block absolute left-0 bg-center bg-no-repeat;
			content: "";
			height: 35px;
			width: 80px;
			top: -10px;
			left: -3px;
		}
	}
	&:nth-child(3n+1) h2 {
		transform: rotate(-5deg);
	}
	&:nth-child(3n+2) h2 {
		transform: rotate(5deg);
	}
	&:nth-child(5n+1) {
		&:before {
			@apply bg-red-400;
		}
		h2 {
			@apply text-red-400;
			&:after {
				background-image: url("/assets/img/bio/small-circle--red.svg");
			}
		}
	}
	&:nth-child(5n+2) {
		&:before {
			@apply bg-blue-400;
		}
		h2 {
			@apply text-blue-400;
			&:after {
				background-image: url("/assets/img/bio/small-circle--blue.svg");
			}
		}
	}
	&:nth-child(5n+3) {
		&:before {
		@apply bg-yellow-400;
		}
		h2 {
			@apply text-yellow-400;
			&:after {
				background-image: url("/assets/img/bio/small-circle--orange.svg");
			}
		}
	}
	&:nth-child(5n+4) {
		&:before {
		@apply bg-purple-400;
		}
		h2 {
			@apply text-purple-400;
			&:after {
				background-image: url("/assets/img/bio/small-circle--grape.svg");
			}
		}
	}
	&:nth-child(5n+5) {
		&:before {
		@apply bg-green-400;
		}
		h2 {
			@apply text-green-400;
			&:after {
				background-image: url("/assets/img/bio/small-circle--green.svg");
			}
		}
	}
	&:not(:last-child):after {
		content: "";
		position: absolute;
		display: block;
		height: 60px;
		width: 30px;
		margin-top: calc(var(--bio-card-margin) * -1);
		background-image: url("/assets/img/bio/arrow.svg");
	}
	&:nth-child(even) {
		margin-top: var(--bio-card-margin);
	}
	&:nth-child(even):after {
		left: -100px;
		transform: rotate(60deg);
	}
	&:nth-child(odd):after {
		right: -100px;
		transform: rotate(-60deg);
	}
	&:nth-child(even),
	&:nth-child(odd) {
		@apply sm:mt-0 sm:mb-6;

		&:not(:last-child):after {
			@apply sm:hidden;
		}
	}
}
