.highlight-yellow {
    &:before {
        content: "";
        display: block;
        background: url(/assets/img/highlight-yellow.svg) center center no-repeat;
        position: absolute;
        background-size: cover;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: -2;
    }
    &:after {
        @apply bg-sitebg;
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transform: translateX(100%);
        animation: highlight-animate 500ms ease-out;
        animation-iteration-count: 1;
    }
}
@keyframes highlight-animate {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}
.tooltip {
    &:hover img,
    &:focus img {
        display: block;
        transform: translateX(-50%);
    }
}
.link-dialpad {
    text-decoration-color: theme('colors.blue.600');
}
.link-stack {
    text-decoration-color: theme('colors.yellow.600');
}
.link-canfield {
    text-decoration-color: theme('colors.green.600');
}
.link-misc {
    text-decoration-color: theme('colors.pink.600');
}
.work-section:before,
.work-section:after {
    @apply absolute block;
    height: 200px;
    width: 200px;
    content: "";
    z-index: -1;
}
.work-section:before {
    @apply top-0 left-0;
}
.work-section:after {
    @apply bottom-0 right-0 transform rotate-180;
}
.work-section--dialpad:before,
.work-section--dialpad:after {
    background-image: url(/assets/img/home/doodle-corner-blue.svg);
}
.work-section--stackoverflow:before,
.work-section--stackoverflow:after {
    background-image: url(/assets/img/home/doodle-corner-yellow.svg);
}
.work-section--canfield:before,
.work-section--canfield:after {
    background-image: url(/assets/img/home/doodle-corner-green.svg);
}
.work-section--misc:before,
.work-section--misc:after {
    background-image: url(/assets/img/home/doodle-corner-pink.svg);
}
.work-section--misc:after {
    @apply top-0;
    transform: scaleX(-1);
}
.work-section--misc .img:after {
    @apply absolute block transform rotate-3 bg-pink-500 z-0 top-0 left-0;
    height: 275px;
    width: 275px;
    content: "";
}
.curl1 {
    background-image: url(/assets/img/home/doodle-curl1.svg);
    height: 243px;
    width: 246px;
    right: -45%;
    bottom: -70%;
}
.curl2 {
    background-image: url(/assets/img/home/doodle-curl2.svg);
    height: 225px;
    width: 350px;
    left: -55%;
    bottom: -30%;
}
.boxes {
    background-image: url(/assets/img/home/doodle-boxes.svg);
    height: 207px;
    width: 261px;
    left: -55%;
    top: -40%;
}
.curl3 {
    background-image: url(/assets/img/home/doodle-curl3.svg);
    height: 139px;
    width: 37px;
    left: 50%;
    top: -50%;
}
.toggle {
    background-image: url(/assets/img/home/doodle-toggle.svg);
    height: 213px;
    width: 262px;
    right: -55%;
    top: -40%;
}
