a {
    text-decoration: underline;
    text-decoration-color: theme('colors.green.600');
    text-decoration-thickness: .2rem;
    text-underline-offset: .2em;
    color: inherit;

    &:hover,
    &:focus {
        @apply text-white;
    }
}
h1, h2, h3, h4 {
    @apply text-white;
}
h1 {
    @apply text-5xl font-display leading-none;
}
h2 {
    @apply text-3xl leading-none;
    font-weight: bold;
}
h3 {
    @apply text-xl leading-none;
    font-weight: bold;
}

time {
    @apply text-sm text-gray-400;
}
figure {
    @apply block my-16 mx-auto max-w-full text-center;

    img,
    video {
        @apply mx-auto;
    }
    figcaption {
        @apply text-xs mt-4 text-center text-gray-400;

        a {
            color: inherit;
        }
    }
    &.bordered img {
      @apply border border-solid border-sitebg;
    }
}
blockquote {
    @apply py-1 pl-8 my-16 text-2xl leading-tight font-normal font-display;
    background: url("/assets/img/blockquote.svg") top left repeat-y;
    border: none;

    p {
        @apply my-2;
    }
}
p + blockquote {
    margin-top: 0;
}
.callout {
    @apply p-6 bg-gray-800 rounded-lg relative text-gray-300;

    &[data-emoji] {
        @apply pl-16;

        &::before {
            content: attr(data-emoji);
            @apply absolute left-6;
        }
    }
}
abbr {
    cursor: help;
}
.twitter-tweet {
    @apply mb-6;
    margin-top: 0 !important;
    margin-bottom: theme('spacing.6') !important;
}
code {
    @apply px-1 py-0 text-sm bg-gray-800 border border-gray-700 rounded text-left font-mono inline-block;

    &.code-block {
        display: block;
        overflow-x: auto;
    }
    &:not(.hljs) {
        @apply text-red-400;
    }
    p {
        @apply my-0;
    }
}
pre code {
    @apply mb-6 p-3;
}
.code-preview { /* Code accompanied by a preview */
    img {
        @apply rounded-t;
    }
    code {
        @apply rounded-t-none border-t-0;
    }
}
hr {
    @apply py-12 mx-auto;
    width: 210px;
    height: 12px;
    background: url("/assets/img/hr.svg") center center repeat-x;
    border: 0;
}
p + hr {
    @apply -mt-8;
}
table {
    @apply border border-solid border-gray-700;

    th,
    td {
        @apply p-2;

        &:not(:last-child) {
            @apply border-r border-solid border-gray-700;
        }
    }
    th {
        @apply bg-gray-900 text-gray-400 text-left text-xs;
    }

    td {
        @apply border-t border-solid border-gray-700 text-sm;

    }
}
.writing {
    width: 100%;
    
    header,
    p,
    ol,
    ul,
    h2,
    h3,
    h4,
    blockquote,
    .callout,
    table,
    .twitter-tweet,
    time,
    pre {
        @apply max-w-3xl mx-auto;
    }
    time {
        display: block;
    }
    figure code.code-block {
        margin-bottom: 0;
    }
    h2 {
        @apply mt-16 mb-4;
    }
    h3 {
        @apply my-16 mb-4;
    }
    p,
    blockquote,
    .callout,
    table {
        @apply mb-8;
    }
    table {
        width: 100%;
    }
    blockquote {
        p {
            @apply my-2;
        }    
    }
    ul,
    ol {
        @apply my-12 pl-8;

        li {
            @apply mb-4 relative;
        }
    }
    b,
    strong {
        @apply text-white bg-gray-700 py-1 px-2 rounded;
    }
    ul li:before {
        @apply absolute inline-block bg-purple-400;
        content: "";
        width: 0.4rem;
        height: 0.4rem;
        top: 0.75rem;
        left: -1.5rem;
    }
    ol {
        counter-reset: ordered-list;

        li:before {
            @apply text-sm font-bold absolute inline-block text-right text-purple-400;
            counter-increment: ordered-list;
            content: counter(ordered-list);
            top: .25rem;
            left: -2rem;
        }
        li:nth-child(-n+9):before {
            content: "0" counter(ordered-list);
        }
    }
    hr + h2,
    hr + h3 {
        margin-top: 0;
    }
    header + h2 {
        margin-top: 0;
    }
    h2 + ul,
    h2 + ol {
        margin-top: 0;
    }
}