---
layout: default
permalink: "/{{ page.fileSlug }}/"
---

<main class="main">
    <article>
      {# featured post image #}
      {% if featured_image %}
      <figure class="mb-10 unbound site-width">
          <img src="{{ featured_image }}" alt="{{ image_caption }}">
      </figure>
      {% endif %}
      <h1 class="page-title mb-4">{{ title }}</h1>
      <time datetime="{{ date }}" class="uppercase text-base tc-light">
          {{ page.date | dateDisplay }}
      </time>
      <hr class="hr">
        {{ content | safe }}
    </article>
</main>
