---
layout: default
permalink: "/{{ page.fileSlug }}/"
---

<main role="main" role="main" class="main">
    <article role="article">
        <h1 class="page-title mb-0">{{ title }}</h1>
        <p class="text-base tc-light p-0">
            {{ excerpt }}
        </p>
        <hr>
        {{ content | safe }}
    </article>
</main>
