@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-sitebg text-white font-sans break-words;
    }
    a {
        transition: all 75ms ease;
    }
    a:not([class]) {
        @apply underline text-teal-500;
    }
    h1 {
        @apply font-display text-5xl leading-none sm:text-3xl;
    }
}

@layer components {

    /* Site Header */
    .header nav a,
    .header nav a:visited {
        @apply p-2 hover:opacity-75;
    }
    .header a.active {
        @apply text-sitebg;
        background: url(/assets/img/nav-active.svg) center center no-repeat;
        background-size: cover;
    }
    /* Site Footer */
    .social-icon:not(:hover) path, 
    .social-icon:not(:hover) polygon {
        fill: theme('colors.gray.500');
    }
    /* Home */
    .home-section {
        @apply relative flex items-start p-16 max-w-2xl mt-40 sm:flex-col sm:p-8 md:mt-12;
    }
    .home-section > svg {
        @apply mr-12 flex-shrink-0 sm:mb-8;
    }
    .home-section p {
        @apply text-lg sm:text-base;
    }
    .home-section:before,
    .home-section:after {
        @apply absolute block;
        height: 200px;
        width: 200px;
        content: "";
    }
    .home-section:before {
        @apply top-0 left-0;
    }
    .home-section:after {
        @apply bottom-0 right-0 transform rotate-180;
    }
    .home-section--dialpad:before,
    .home-section--dialpad:after {
        background-image: url(/assets/img/home/doodle-corner-blue.svg);
    }
    .home-section--stackoverflow:before,
    .home-section--stackoverflow:after {
        background-image: url(/assets/img/home/doodle-corner-yellow.svg);
    }
    .home-section--canfield:before,
    .home-section--canfield:after {
        background-image: url(/assets/img/home/doodle-corner-green.svg);
    }
    .home-section--misc:before,
    .home-section--misc:after {
        background-image: url(/assets/img/home/doodle-corner-pink.svg);
    }
    .home-section--misc:after {
        @apply top-0;
        transform: scaleX(-1);
    }
    .home-section--misc .img:after {
        @apply absolute block transform rotate-3 bg-pink-500 z-0 top-0 left-0;
        height: 275px;
        width: 275px;
        content: "";
    }
    .flourish {
        @apply absolute block bg-no-repeat lg:hidden;
    }
    .curl1 {
        background-image: url(/assets/img/home/doodle-curl1.svg);
        height: 243px;
        width: 246px;
        right: -45%;
        bottom: -70%;
    }
    .curl2 {
        background-image: url(/assets/img/home/doodle-curl2.svg);
        height: 225px;
        width: 350px;
        left: -55%;
        bottom: -30%;
    }
    .boxes {
        background-image: url(/assets/img/home/doodle-boxes.svg);
        height: 207px;
        width: 261px;
        left: -55%;
        top: -40%;
    }
    .curl3 {
        background-image: url(/assets/img/home/doodle-curl3.svg);
        height: 139px;
        width: 37px;
        left: 70%;
        bottom: -50%;
    }
    .toggle {
        background-image: url(/assets/img/home/doodle-toggle.svg);
        height: 213px;
        width: 262px;
        right: -55%;
        top: -40%;
    }

    /* Prose */
    article {
        @apply flex flex-col items-center;
    }
    .prose h1,
    .prose h2,
    .prose h3,
    .prose h4,
    .prose figure:not(.unbound),
    .prose p,
    .prose ol,
    .prose ul,
    .prose blockquote,
    .prose pre,
    .prose hr,
    .prose .twitter-tweet,
    .prose .gist {
        @apply mx-auto text-white;
    }
    .prose header h1 {
        @apply mb-0;
    }
    .prose header time {
        @apply text-gray-400 text-sm;
    }
}