@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-sitebg text-white font-sans break-words;
    }
}

@layer components {
    .header {
        display: flex;
        align-items: center;
    }

    nav {

        a,
        a:visited {
            margin: 0 var(--spacing4);
            padding: var(--spacing4) var(--spacing8);
            color: var(--nav-link-color);
            text-decoration: none;
            &.active {
                background: url(~@/assets/img/nav-active.svg) center center no-repeat;
                background-size: cover;
                color: var(--site-background-color);
            }
        }
    }
}