@bio-card-margin: 125px;

.bio-cards {
	display: grid;
	grid-gap: 0 20%;
	grid-template-columns: repeat(2, 40%);
	margin-top: @bio-card-margin;
}
.bio-card {
	margin-top: -@bio-card-margin;
	position: relative;

	h2,
	p {
		margin: @su2 0 0;
		.px3;
	}
	h2 {
		.fs-body1;
		position: relative;
		.ff-display;
		.ls-1;
		.d-inline-block;

		&:after {
			background-position: center center;
			background-repeat: no-repeat;
			display: block;
			content: "";
			height: 30px;
			width: 70px;
			position: absolute;
			top: -5px;
			left: -2px;
		}
	}
	&:nth-child(3n+1) h2 {
		transform: rotate(-5deg);
	}
	&:nth-child(3n+2) h2 {
		transform: rotate(5deg);
	}
	&:nth-child(5n+1) h2 {
		.fc-red-8;

		&:after {
			background-image: url("/assets/images/small-circle--red.svg");
		}
	}
	&:nth-child(5n+2) h2 {
		.fc-blue-6;

		&:after {
			background-image: url("/assets/images/small-circle--blue.svg");
		}
	}
	&:nth-child(5n+3) h2 {
		.fc-orange-7;

		&:after {
			background-image: url("/assets/images/small-circle--orange.svg");
		}
	}
	&:nth-child(5n+4) h2 {
		.fc-grape-7;

		&:after {
			background-image: url("/assets/images/small-circle--violet.svg");
		}
	}
	&:nth-child(5n+5) h2 {
		.fc-teal-6;

		&:after {
			background-image: url("/assets/images/small-circle--teal.svg");
		}
	}

	p {
		.fs-caption;
		.lh-md;
	}
	&:not(:last-child):after {
		display: block;
		content: "";
		height: 60px;
		width: 30px;
		background-position: center center;
		background-repeat: no-repeat;
		margin-top: -@bio-card-margin;
		position: absolute;
		background-image: url("/assets/images/arrow.svg");
	}
	&:nth-child(even) {
		margin-top: @bio-card-margin;
	}
	&:nth-child(even):after {
		left: -100px;
		transform: rotate(60deg);
	}
	&:nth-child(odd):after {
		right: -100px;
		transform: rotate(-60deg);
	}
}

@media screen and (max-width: @breakpoint-small) {
	.bio-cards {
		display: block;
		margin-top: 0;

	}
	.bio-card {
		margin-top: 0;
		margin-bottom: 80px;

		&:nth-child(even) {
			margin-top: 0;
		}
		&:not(:last-child):after {
			transform: rotate(60deg);
			left: calc(50%-5px);
			right: auto;
			bottom: -70px;
			transform: rotate(0deg);
		}

		h2 {
			.d-block;
			.my3;
			transform: none !important;
		}
	}
}
