//  ----------------------------------------------------------------------------
@media screen and (max-width: @breakpoint-small) {
	.blog-list-item  {
		display: block;

		time {
			text-align: left;
			display: block;
		}
	}
}