/* Article Heros */
.article-hero-centered {
	padding-top: @gutter-medium;
	text-align: center;
}
.article-hero-centered-small {
	padding: @gutter-medium @gutter-medium 0;
	text-align: center;
}
.article-hero-flush {
	img {
		width: 100%;
		height: auto;
	}
}
@media screen and (max-width: @breakpoint-medium) {
	.article-hero-centered {
		padding-top: 0;
	}
	.article-hero-centered-small {
		padding: @gutter-small @gutter-small 0;
	}
}

/* Article Title */
.article-title {
	text-align: center;
	padding-top: @gutter-medium;
}
.article-date {
	margin-top: 10px;
	text-transform: uppercase;
	letter-spacing: .05em;
}
.twitter-tweet-rendered {
	margin: 0 auto @gutter-small !important;
}

/* Article Footer */
.article-footer {
	margin-top: -@gutter-small;
	padding-bottom: @gutter-small;
	text-align: center;
	strong {
		display: block;
		color: @gray-darker;
	}
}

/* Blog Index */
.blog-index-ul {
	width: 90%;
	margin: auto;
	text-align: left;
}
.blog-index-li {
	padding: 0 0 @gutter-medium;
	list-style: none;
}
.blog-index-a {
	text-decoration: none;
	&:hover,
	&:focus,
	&:active {
		color: inherit
	}
}
.blog-index-date {
	display: block;
	font-size: @fs-s;
	font-weight: @fw-b;
	text-transform: uppercase;
	letter-spacing: .05em;
	color: @red;
}
.blog-index-title {
	margin: 2px 0 5px 0;
	line-height: 1;
}
.blog-index-summary {
	display: block;
	color: @gray-light;
}
