
@br-none:	0;
@br-sm: 	2px;
@br-md: 	5px;
@br-lg: 	8px;
@br-rd: 	50%;

.bar-none	{ border-radius: @br-none; }
.bar-sm		{ border-radius: @br-sm; }
.bar-md		{ border-radius: @br-md; }
.bar-lg		{ border-radius: @br-lg; }
