.card {
	.flex;
	.ai-start;
	.fd-row;
	.wmx7;
	.p3;
	.mln3;
	.mrn3;
	.mb4;
	text-decoration: none;
	border: 1px solid transparent;
	.bar-md;

	&:hover,
	&:focus {
		border-color: @gray-3;
		.bs-sm;
	}
	.card-img {
		.fl0;

		img {
			.d-block;
			.ws3;
			.wmx3;
			border: 1px solid @gray-3;
			.bar-sm;
		}
	}
	.card-text {
		.fl1;
		.px4;
	}
	h3 {
		.a-color;
		.d-inline-block;
		.mb3;
	}
	p {
		.fc-light;
		.fs-caption;
		.m0;
		.lh-sm;
	}
	.faux-link {
		color: @blue-6;
		text-decoration: none;
		border-bottom: 2px solid @gray-3;
	}
	&:hover .faux-link,
	&:focus .faux-link,
	&:active .faux-link {
		color: @blue-8;
		border-bottom-color: @blue-8;
	}
}
@media screen and (max-width: @breakpoint-small) {
	.card {
		.d-block;
		.w100;
		.ml0;
		.mr0;
		.p0;

		.card-text {
			.px0;
			.py2;
			.mb5;
		}
		.card-img img {
			.wmn0;
			.w100;
		}
	}
}

.card-small {
	.flex;
	.ai-center;

	img {
		line-height: 1;
	}
	div {
		.p3;
		.fs-caption;
		.lh-md;
		.fc-light;

		strong {
			display: block;
			.fc-dark;
		}
	}
}