//  ----------------------------------------------------------------------------
//  IMAGES
//  ----------------------------------------------------------------------------
img {
	height: auto;
	max-width: 100%;
}

//  ----------------------------------------------------------------------------
//  BOX SHADOW
//  ----------------------------------------------------------------------------
.bs-none	{ box-shadow: none; }
.bs-sm		{ box-shadow: 0 @su1 @su3 fade(@gray-7, 10%); }
.bs-md		{ box-shadow: 0 @su2 @su4 fade(@gray-7, 20%); }
.bs-lg		{ box-shadow: 0 @su3 @su5 fade(@gray-8, 20%); }
.bs-i-sm	{ box-shadow: inset 0 @su1/2 @su3 0 fade(@gray-2, 30%); }
.bs-i-md	{ box-shadow: inset 0 @su1/2 @su4 0 fade(@gray-3, 35%); }
.bs-i-lg	{ box-shadow: inset 0 @su1/2 @su5 0 fade(@gray-3, 50%); }