.skills-chart {
	padding: @gutter-small 0;
	margin-bottom: @gutter-medium;
	background: #edede9;
	.gradient-ttb(#edede9,#ced5ce);
	.inside {
		text-align: center;
	}
}
.skills-chart-legend {
	margin: 0 auto 15px;
}
.skills-chart-canvas {
	max-width: 700px;
	margin: auto;
}

.skills-graph-legend {
}
.skills-chart-legend-li {
	display: inline-block;
	list-style: none;
	margin: 0 auto;
	padding: 0 20px;
	line-height: 1;
	font-size: @fs-xs;
	font-weight: @fw-b;
	text-transform: uppercase;
	letter-spacing: .05em;
	&:before {
		content: "";
		display: block;
		float: left;
		margin: 3px 0 0 -15px;
		height: 9px;
		width: 9px;
	}
}
.skills-chart-legend-li--interest {
	color: @blue;
	&:before {
		background: @blue;
	}
}
.skills-chart-legend-li--skill {
	color: @green;
	&:before {
		background: @green;
	}
}
.perceived-interest,
.relative-skill {
	border-radius: 2px;
	font-weight: @fw-b;
	font-size: @fs-xs;
	text-transform: uppercase;
}
.perceived-interest {
	background: @blue;
}
.relative-skill {
	background: @green;
}

.skills-detail {
	padding: @gutter-medium 0;
}
.what-i-do-summary {
	.serif;
	font-style: italic;
	font-size: @fs-l;
	padding-right: 10%;
}
.skills-detail-list {
	margin: 8px 0 @gutter-small;
}
.skills-detail-title--good {
	color: @green;
}
.skills-detail-title--bad {
	color: @red;
}
.skills-detail-ul {
	padding: 10px 0;
}
.skills-detail-li {
	list-style: none;
	line-height: 1;
	padding: 10px 0;
	margin: 0 auto;
	font-size: @fs-s;
}
@media screen and (max-width: @breakpoint-small) {
	.what-i-do-summary {
		padding-right: 0;
	}
}
