.skills-chart {
	padding: @gutter-small 0;
	margin-bottom: @gutter-medium;
	background: #eaeaea;
	background-image:
	linear-gradient(
		to bottom right, 
		#f6f6f6, #edf3f0
	);
	.inside {
		text-align: center;
	}
}
.skills-chart-legend {
	margin: 0 auto 15px;
}
.skills-chart-canvas {
	max-width: 700px;
	margin: auto;
}

.skills-graph-legend {
}
.skills-chart-legend-li {
	display: inline-block;
	list-style: none;
	margin: 0 auto;
	padding: 0 20px;
	line-height: 1;
	font-size: @fs-xs;
	font-weight: @fw-b;
	text-transform: uppercase;
	letter-spacing: .05em;
	&:before {
		content: "";
		display: block;
		float: left;
		margin: 3px 0 0 -15px;
		height: 9px;
		width: 9px;
	}
}
.skills-chart-legend-li--interest {
	color: @blue;
	&:before {
		background: @blue;
	}
}
.skills-chart-legend-li--skill {
	color: @green;
	&:before {
		background: @green;
	}
}
.perceived-interest,
.relative-skill {
	border-radius: 2px;
	font-weight: @fw-b;
	font-size: @fs-xs;
	text-transform: uppercase;
}
.perceived-interest {
	background: @blue;
}
.relative-skill {
	background: @green;
}

.skills-detail {
	padding: @gutter-medium 0;
}
.skills-detail-list {
	padding-top: @gutter-small;
	border-top: 1px solid @gray-lightest;
}
.skills-detail-list--good {
	margin-top: @gutter-small;
}
.skills-detail-list--bad {
	border-bottom: 1px solid @gray-lightest;
	margin-bottom: @gutter-medium;
}
.skills-detail-title {
	display: block;
}
.skills-detail-title--good {
}
.skills-detail-title--bad {
}
.skills-detail-ul {
	padding: 0 0 @gutter-small 0;
}
.skills-detail-li {
	list-style: none;
	display: inline-block;
	line-height: 1;
	padding-right: 10px;
	margin: 0 auto;
	font-size: @fs-s;
	white-space: nowrap;
	&:before {
		.extend-icon;
		top: 3px;
		margin-right: 2px;
	}
}
.skills-detail-li--good:before {
	content: "\6b";
	color: @green;
}
.skills-detail-li--bad:before {
	content: "\6c";
	color: @red;
}

