html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, figure, footer, header, hgroup, menu, nav, section, menu,time, mark, audio, video {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}                  
article, aside, figure, footer, header, hgroup, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
html { overflow-y: scroll; }
body {font:13px sans-serif; *font-size:small; *font:x-small; line-height:1.22; }
table { font-size:inherit; font:100%; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
h1,h2,h3,h4,h5,h6 {text-rendering: optimizeLegibility; }
html { -webkit-font-smoothing: antialiased; }
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre { padding: 15px; white-space: pre; /* CSS2 */white-space: pre-wrap; /* CSS 2.1 */white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */word-wrap: break-word; /* IE */}
.ie7 img { -ms-interpolation-mode: bicubic; }
/* End HTML5 Boilerplate stuff */

/* Layout <- no touchie! */
body {background: #becad3;text-align: center;}
#header-wrap, #body-wrap, #footer-wrap {display: block; clear: both;}
#header, #body, #footer {width: 980px; margin: 0 auto; text-align: left;}
#body {padding: 3em 0;}

/* Fonts */
body {font-family: 'Chapparal Pro'}
h1 {font-family: 'Clarendon', 'archer';}
h2, h3, h4, .title, #subnav {font-family: verlag}
/* size + baseline */
body {font-size: 16px; line-height: 1.5em;}
h1 {font-size: 56px}
h2 {font-size: 27px;}
h3 {font-size: 18px; text-transform: uppercase;}
p {margin: 0 0 1.5em 0;}
ul, ol {}
li {}

/* Inline Text */
body {color: #76929a; text-shadow: 1px 1px 1px rgba(255,255,255,.7); letter-spacing: .1em;}
a {}
a:visited {}
a:hover, a:active, a:focus {}
p#intro {font-size: 1.5em; line-height: 1.333em}

/* General Styles */
.amp {font-style: italic; font-weight: inherit; font-family: "Goudy Old Style", "Hoefler Text", Palatino, "Palatino Linotype", "Palatino LT STD", serif; font-size: 1.2em; position: relative; top: .1em; line-height: 0;}
.posh-badge{margin: 0; font-size:0.625em;line-height:1.4em;font-style:normal;font-family:arial,sans-serif;letter-spacing:0.1em; text-align: center;color:#eed;padding:0 0.3em 0 0;background:#9c0;border: 0.1em solid #690; white-space: nowrap;}
.posh-badge span {letter-spacing:0;color:#213852;padding:0 0.2em;margin-right:0.1em;background:#690; border-right:0.1em solid #690; border-bottom: 0; margin: 0;}
.posh-badge abbr{border:0; color: #213852; text-shadow: 1px 1px 1px #fff;}
.posh-badge a:link,.posh-badge a:visited{text-decoration:none; border: 0; padding: 0;}
.posh-badge a:focus,.posh-badge a:hover,.posh-badge a:active{color:#360;}
.posh-badge span a:focus,.posh-badge span a:hover,.posh-badge span a:active{color:#fff;}

/* Header */
#subnav {display: block;background: rgba(0,0,0,.8);}
#subnav ul {display: block; height: 20px;margin: 0 auto; padding: .5em 0;width: 980px; text-align: right;}
#subnav li {display: inline; margin: 0 0 0 50px;}
#subnav a {border: 0; padding: .5em; color: #fff; text-shadow: 0 1px 1px #000; text-decoration: none; font-weight: bold; text-transform: uppercase;}
a#sn-home {}
a#sn-blog {}
a#sn-find {}
a#sn-contact {}
#header {border-bottom: 4px solid #ccc;zoom: 1}
#header:after {clear: both}
#header:before, #header:after {content: ".";display: block; height: 0;overflow: hidden;}
a#logo, a#logo:visited {float: left; display: block; background: #000; text-align: center;height: 105px; width: 105px; margin: -10px 0 0 0; border-radius: 100px; border: 8px solid #ddd;}
#nav {display: block; text-align: left; position: relative; top: 40px;}
#nav li {display: inline; margin: 0 0 0 10px; font-size: 21px; font-style: italic;}
#nav a {font-style: normal; margin-left: 10px; font-family: 'vegur'; font-weight: bold; font-size: 42px; position: relative; top: 7px; text-decoration: none;}

/* General Body Stuff */
h1#page-title {font-size: 4em;}

/* Footer */
#footer-wrap {background: rgba(0,0,0,.1); margin: 40px 0 -2em 0}
#footer {margin: 0 auto;}
#footer ul {list-style-type: none;}
#footer li {float: left;}
#footer li a {border: 0}

/* Homepage Stuff */
#hp-intro {display: block; margin: 0 0 40px 0;zoom: 1}
#hp-intro:after {clear: both}
#hp-intro:before, #hp-intro:after {content: ".";display: block; height: 0;overflow: hidden;}
#hp-intro h1 {float: left; width: 470px; height: 350px; background: #ccc;}
#gadget {float: right; display: block; width: 510px; height: 510px; background: #fff}
#hp-sub {display: block; zoom: 1}
#hp-sub:after {clear: both}
#hp-sub:before, #hp-sub:after {content: ".";display: block; height: 0;overflow: hidden;}
#hp-sub h2 {padding: 5px 0; border-top: 4px solid rgba(0,0,0,.5)}
#hp-about, #hp-work, #hp-say {float: left; display: block;width: 215px; margin: 0 40px 0 0; padding-top: 8px; border-top: 6px solid rgba(0,0,0,.3)}
#hp-work {width: 470px}
#hp-say {margin-right: 0;}
#hp-about img {float: left; height: 80px; width: 80px; background: #fff; margin: 0 10px 0 0;}
#hp-work img {display: block; width: 100%; height: 300px; background: #fff;}

/* Portfolio Index Stuff */
#portfolio-hdr {display: block; border-bottom: 4px solid #ccc; zoom: 1}
#portfolio-hdr:after {clear: both}
#portfolio-hdr:before, #portfolio-hdr:after {content: ".";display: block; height: 0;overflow: hidden;}
#portfolio-hdr ul {float: right}
#portfolio-hdr ul li {display: inline; margin: 0 0 0 40px}
#projects {margin-left: -40px; width: 1020px; display: block; zoom: 1}
#projects h2 {margin-left: 40px;}
#projects:after {clear: both}
#projects:before, #projects:after {content: ".";display: block; height: 0;overflow: hidden;}
.projects {display: block; float: left; width: 300px;height: 200px; overflow: hidden;margin: 0 0 40px 40px; background: #fff;}

/* Portfolio Single Stuff */
#detail {float: left; width: 300px;}
#images {margin: 0 0 0 340px;}
#images img {width: 640px}

#dribbbleshots {display: block; zoom: 1}
#dribbbleshots:after {clear: both}
#dribbbleshots:before, #dribbbleshots:after {content: ".";display: block; height: 0;overflow: hidden;}
#shots ul {margin-left: -40px; width: 1020px; display: block; zoom: 1}
#shots li {float: left; list-style-type: none; margin: 0 0 0 40px}
#shots img {width: 215px;}

#personal {margin: 40px 0 0 0; display: block;zoom: 1}
#personal:after {clear: both}
#personal:before, #personal:after {content: ".";display: block; height: 0;overflow: hidden;}
#findability, #saragoas, #jsv {display: block; float: left; width: 300px; margin: 0 40px 0 0;}
#jsv {margin: 0;}
#personal img {width: 300px; height: 200px;}
#personal h3 a {float: right}

/* Skills Stuff */
#skills h1 {background: #ccc; height: 200px; margin-bottom: 40px;}
#skills-hdr {display: block; zoom: 1; padding-bottom: 40px; margin-bottom:40px; border-bottom: 1px solid #aaa;}
#skills-hdr:after {clear: both}
#skills-hdr:before, #skills-hdr:after {content: ".";display: block; height: 0;overflow: hidden;}
#skills-hdr div {float: left; width: 215px; margin: 0 40px 0 0;}
#skills-hdr p {margin-bottom: 0;}
#skills-hdr #fast {margin-right: 0;}
#skills-mid {display: block; zoom: 1; padding: 0 510px 40px 0; margin-bottom:40px; border-bottom: 1px solid #aaa;}
#skills-hdr:after {clear: both}
#skills-hdr:before, #skills-hdr:after {content: ".";display: block; height: 0;overflow: hidden;}
#skills-mid aside {float: right; display: block; width: 470px;margin-right: -510px;}
#ratings {display: block; zoom: 1;}
#ratings:after {clear: both}
#ratings:before, #ratings:after {content: ".";display: block; height: 0;overflow: hidden;}
#ratings ul {float: left; width: 215px; margin: 0 40px 0 0;}
#ratings ul#rate-extras {margin-right: 0;}

/* About Page stuff */
#about #body article {padding: 0 255px}
#about #photos {float: right; display: block; width: 215px; margin: 0 -255px 0 0;}
#about #projects {float: left; display: block; width: 215px; margin: 0 0 0 -255px}


/* Contact Page stuff */
#contact h1 {height: 200px; background: #fff; text-align: center}
#email-note {display: block; background: rgba(0,0,0,.1); padding: 20px; margin: 40px 0; text-align: center;}
#recruiter, #freelance {display: block;width: 470px}
#recruiter {float: left;}
#freelance {float: right}

@media print{ *{background:transparent !important; color:#444 !important; text-shadow:none}
 a, a:visited{color:#444 !important; text-decoration:underline}
 a:after{content:"("attr(href) ")"}
 abbr:after{content:"("attr(title) ")"}
 pre, blockquote{border:1px solid #999; page-break-inside:avoid}
 img{page-break-inside:avoid}
 @page{margin:0.5cm}
 p, h2, h3{orphans:3; widows:3}
 h2, h3{page-break-after:avoid}
}
@media all and (orientation:portrait){

}
@media all and (orientation:landscape){

}
@media screen and (max-device-width:480px){
html{-webkit-text-size-adjust:none; -ms-text-size-adjust:none}
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
/*iPhone 4 8*/	
	
}
