:head
<body class="bio">
:header
<div class="outside mast">
	<div class="inside summary">
		<p>@summary</p>
	</div>
</div>
<div class="outside timeline">
	<div class="inside">
		<ul>
			<li class="red">
				<span>&#8216;79 <img src="http://i.tedgoas.com/icn-diamond.png" width="51" height="53"></span>
				<div>
					<img src="http://i.tedgoas.com/bioBorn.jpg" alt="Born" width="450" height="300" class="fluid">
				</div>
				<p>I was born on my mother&#8217;s 30th birthday. What are the odds?</p>
			</li>
			<li class="purple">
				<span>&#8216;85 <img src="http://i.tedgoas.com/icn-diamond.png" width="51" height="53"></span>
				<div>
					<img src="http://i.tedgoas.com/bioSoccer.jpg" alt="playing soccer" width="450" height="300" class="fluid">
				</div>
				<p>Growing up, my parents involved me in a lot of organized sports. I played a little of everything, but got a heavy dose of soccer and hockey.</p>
			</li>
			<li class="blue">
				<span>&#8216;94 <img src="http://i.tedgoas.com/icn-diamond.png" width="51" height="53"></span>
				<div>
					<img src="http://i.tedgoas.com/bioStreetFighter.jpg" alt="Street Fighter II" width="450" height="300" class="fluid">
				</div>
				<p>Early 90&#8217;s rock. NY Rangers win The Stanley Cup. Street Fighter II. The early 90&#8217;s were my favorite moment in pop culture.</p>
			</li>
			<li class="red">
				<span>&#8216;97 <img src="http://i.tedgoas.com/icn-diamond.png" width="51" height="53"></span>
				<div>
					<img src="http://i.tedgoas.com/bioMarist.jpg" alt="Marist College" width="450" height="300" class="fluid">
				</div>
				<p>I attended Marist College in NY. I began in Computer Science, but after a year of software programming I changed majors to graphics and design. I graduated in four years despite the switch.</p>
			</li>
			<li class="green">
				<span>&#8216;02 <img src="http://i.tedgoas.com/icn-diamond.png" width="51" height="53"></span>
				<div>
					<img src="http://i.tedgoas.com/bioCSS.jpg" alt="css zen garden" width="450" height="300" class="fluid">
				</div>
				<p>I discovered <a href="http://www.csszengarden.com/">CSS Zen Garden</a> and taught myself advanced CSS. I started working more off hours and my job started to become a hobby.</p>
			</li>
			<li class="blue">
				<span>&#8216;04 <img src="http://i.tedgoas.com/icn-diamond.png" width="51" height="53"></span>
				<div>
					<img src="http://i.tedgoas.com/bioSaraTed.jpg" alt="Sara and Ted" width="450" height="300" class="fluid">
				</div>
				<p>I met a girl. One that makes me a better person and whom I consider my intellectual superior. Sara and I began dating.</p>
			</li>
			<li class="red">
				<span>&#8216;05 <img src="http://i.tedgoas.com/icn-diamond.png" width="51" height="53"></span>
				<div>
					<img src="http://i.tedgoas.com/bioArizona.jpg" alt="Arizona" width="450" height="300" class="fluid">
				</div>
				<p>Sara and I moved to Arizona and earned post-grad degrees. I (finally) learned to question tradition and everything in my life started falling into place.</p>
			</li>
			<li class="green">
				<span>&#8216;07 <img src="http://i.tedgoas.com/icn-diamond.png" width="51" height="53"></span>
				<div>
					<img src="http://i.tedgoas.com/bioCode.jpg" alt="code" width="450" height="300" class="fluid">
				</div>
				<p>I continued to grow as a designer / developer hybrid, but also got pretty good at designing and coding HTML emails. I also began tinkering with website performance.</p>
			</li>
			<li class="blue">
				<span>&#8216;09 <img src="http://i.tedgoas.com/icn-diamond.png" width="51" height="53"></span>
				<div>
					<img src="http://i.tedgoas.com/bioSara.jpg" alt="Sara" width="450" height="300" class="fluid">
				</div>
				<p>After three years in Arizona, Sara and I moved back to New Jersey, bought a house, and tied the knot. My best friend is now my partner for life.</p>
			</li>
			<li class="red">
				<span>&#8216;10 <img src="http://i.tedgoas.com/icn-diamond.png" width="51" height="53"></span>
				<div>
					<img src="http://i.tedgoas.com/bioCanfield.jpg" alt="Canfield Scientific" width="450" height="300" class="fluid">
				</div>
				<p>I landed my current job as a designer at Canfield Scientific, a biotechnology &amp; pharmaceutical company in New Jersey. I spend my days building web products in an industry that sorely needs thoughtful design.</p>
			</li>
			<li class="purple">
				<span>&#8216;12 <img src="http://i.tedgoas.com/icn-diamond.png" width="51" height="53"></span>
				<div>
					<img src="http://i.tedgoas.com/bioSebastian.jpg" alt="Sebastian" width="450" height="300" class="fluid">
				</div>
				<p>Our first child, Sebastian, arrives! We&#8217;re still getting the hang of the whole parenting thing&#8230;</p>
			</li>
		</ul>
	</div>
</div>
:footer
:footer-js
:analytics
</body>
</html>
