<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>@title &infin; Ted Goas</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="/content/1.blog/2.an-open-letter-to-technical-recruiters/styles.css" type="text/css" media="screen">
<!--[if lte IE 7]>
	<link rel="stylesheet" href="http://universal-ie6-css.googlecode.com/files/ie6.1.1b.css" media="screen, projection">
<![endif]-->
<meta name="description" content="@summary">
<!--<link rel="alternate" type="application/atom+xml" href="../?/feed/">-->
<link rel="canonical" href="http://www.tedgoas.com/articles/an-open-letter-to-technical-recruiters/">
<link rel="meta" type="application/rdf+xml" title="Dublin" href="http://www.tedgoas.com/dublin.rdf">
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head></head>
<body>

<nav class="cf">
	<ul>
		<li class="logo"><em>from the desk of</em> <a href="/" title="home">Ted Goas</a></li>
		<li><a href="/blog" title="blog" class="archive"><span>&#11013;</span> More Articles</a></li>
	</ul>
</nav>
<div id="wrapper">
<article>
  <header>
    <div id="meta">This message has been modified and sent a total of <span>@metaupdates</span> times. It was originally sent on <time datetime="@metadate" pubdate="pubdate">@metadate</time> and most recently sent on <time datetime="@metaupdated">@metaupdated</time>.</div>
    <span id="to">Technical recruiters who aren't trying that hard</span>
    <h1>An Open Letter To Technical Recruiters</h1>
  </header>
  <div id="email" role="main">
  	@content
  </div>
  <footer id="emailBottom">
  	<p class="green"><img src="/content/1.blog/2.an-open-letter-to-technical-recruiters/green.png" height="17" width="18">Please consider the environment before printing this email.</p>
  	<p>This communication is for informational purposes only. It is not intended as an official confirmation and/or an "offer and acceptance" with respect to loan or any other business terms. Please do not rely on this email (or this email chain) as creating a binding agreement of any kind, including, without limitation, a commitment for financing, the terms of which may be subject to further bank approval and/or the execution of formal documentation. This message and any attachments contain confidential or privileged information which is intended for the recipient named above. If you are not the intended recipient, any disclosure, copying, use, or distribution of the information included in this message and any attachments is prohibited. If you have received this communication in error, please notify us by reply e-mail and immediately and permanently delete this message and any attachments. </p>
  </footer>
</article>
</div>
:analytics
</body>
</html>
