<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">
<link rel="dns-prefetch" href="//use.typekit.net">
<link rel="dns-prefetch" href="http://ajax.googleapis.com">
<link rel="dns-prefetch" href="//www.google-analytics.com">
<title>@title &infin; Ted Goas</title>
<meta name="description" content="@summary">
<link rel="stylesheet" href="work-experience.css" type="text/css" media="screen">
<link rel="alternate" type="application/atom+xml" href="@root_path/?/feed/">
<link rel="canonical" href="http://www.tedgoas.com/@permalink">
<link rel="meta" type="application/rdf+xml" title="Dublin" href="http://www.tedgoas.com/dublin.rdf">
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body class="blog">
<div class="outside header">
	<div class="inside">
		<div class="wrap" id="wrap">
			<nav>
				<ul class="primary">
					<li class="nHome"><a href="/" title="home" rel="home" class="ted">Ted Goas</a></li>
					<li class="nWork"><a href="/work" title="portfolio work">Work</a></li>
					<li class="nContact"><a href="/contact" title="contact and availability">Contact</a></li>
					<li class="nBio"><a href="/bio" title="about me">Bio</a></li>
					<li class="nBlog"><a href="/blog" title="blog">Blog</a></li>
		 			<li class="nSocial">
		 				<a href="http://www.twitter.com/tedgoas" title="What I'm saying" rel="external me" class="icnSocial twitter"><i class="icon-twitter"></i></a>
		 				<a href="http://www.dribbble.com/tedgoas" title="What I'm designing" rel="external me" class="icnSocial dribbble"><i class="icon-dribbble-1"></i></a>
		 				<a href="http://www.github.com/tedgoas" title="What I'm coding" rel="external me" class="icnSocial github"><i class="icon-github"></i></a>
		 			</li>
		 		</ul>
		 	</nav>
		</div>
	</div>
</div>
<div class="outside">
	<article class="inside">
		<div class="canvas">
			<footer class="meta">
				<ul>
					<li class="date"><span>First published</span> @metadate</li>
					<li class="updated"><span>Last updated</span> @metaupdated</li>
					<li class="edits"><span>No. of edits</span> @metaupdates</li>
				</ul>
			</footer>
			<h1>@title</h1>
			@content
		</div>
	</article>
</div>
<div class="outside mast mastBottom">
	<div class="inside summary">
		<div>
			<p>Musings from an in-house designer in New Jersey.<br><a href="/blog/is-this-thing-on/">More on what I write about</a><a href="@root_path/?/feed/"><img src="http://i.tedgoas.com/icnRss.png" alt="RSS Feed" width="34" height="34"></a></p>
		</div>
	</div>
</div>
:footer
:footer-js
:analytics
</body>
</html>
