:head
<body class="blog">
:header
<div class="outside main">
	foreach $_hdr do
	<div class="pic"><img src="@url" alt="@title" class="fluid"></div>
	endforeach
	<div class="inside">
		<article>
			<header>
				<h1>@title</h1>
				<small class="meta">@date</small>
			</header>
			<div class="article">
				@content
			</div>
		</article>
	</div>
</div>
<div class="outside mast mastBottom">
	<div class="inside summary">
		<div>
			<p>Musings from an in-house designer in New Jersey.<br><a href="/blog/is-this-thing-on/">More on what I write about</a><br><a href="@root_path/?/feed/" class="icnSocial rss"><i class="icon-rss"></i></a></p>
			<ul><li class="r"></li><li class="y"></li><li class="g"></li><li class="b"></li><li class="p"></li></ul>
		</div>
	</div>
</div>
:footer
:footer-js
:analytics
</body>
</html>
