:head
<body class="contact">
:header
<div class="outside main">
	<article class="inside">
		<h1>@title</h1>
		<div class="r">
			<h3>Availability <small><a href="http://status.tedgoas.com" title="detailed status">more info</a></small></h3>
			<img src="http://i.tedgoas.com/flBusy.png" alt="mostly unavailable" width="457" height="230" class="fluid">
			<small>I can't start right away, but let's schedule something!</small>
		</div>
		<div class="l">
			<p>If you're interested in <strong>freelance work</strong> and have something small or well-defined, let's chat. Please be aware that I already have a handful of freelance clients, personal projects, and my day job.</p>
			<p>If you're looking to fill a <strong>full time or contract gig</strong>, please know that I'm happily employed as a web designer and front-end developer in northern New Jersey and am not on the market.</p>
			<p>Of course, <strong>things change.</strong> I <a href="http://status.tedgoas.com" title="detailed status">keep a page</a> that explains my current status at any given time.</p>
			<p>If everything looks good, shoot me an email and let's chat!</p>
		</div>
		<img src="http://i.tedgoas.com/my-email.png" alt="my email address" class="cf email" width="800" height="100">
		<div class="map">
			<h4>Where I live</h4>
			<iframe width='100%' height='420px' frameBorder='0' src='https://a.tiles.mapbox.com/v3/tedgoas.g9fd5ii5.html?secure=1#14/41.00645948699492/-74.29036617279053'></iframe>
		</div>
	</div>
</div>
:footer
:footer-js
:analytics
</body>
</html>
