:head
<body class="home">
:header
<div class="outside main">
	<div class="inside">
		<div>
			<p class="intro">I'm a reliable designer &amp; front-end developer working on websites, web apps, and HTML emails. I build with page speed in mind.</p>
			<p>When I'm not doing computer stuff, I enjoy rock concerts, snowboarding, hockey, soccer, Newcastle Ale, and quoting Troy McClure. I'm husband to <a title="Sara Goas" rel="spouse" href="http://www.saragoas.com">an awesome wife</a> and recently became a dad.</p>
			<h1><img src="http://i.tedgoas.com/sig.png" alt="Ted Goas" width="205" height="60"></h1>
		</div>
	</div>
</div>
:footer
:footer-js
<script src="http://js.tedgoas.com/home.js"></script>
:analytics
</body>
</html>