<!doctype html>
<html lang="en" id="status">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Ted's Goas's Work Status</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
<link rel="stylesheet" href="/css/status.css">
<!--[if IE]><script src="http://remysharp.com/downloads/html5.js"></script><![endif]-->
</head>
<!--[if lt IE 7 ]> <body id="ie6" class="ie lteie8 lteie7"> <![endif]-->
<!--[if IE 7 ]>    <body id="ie7" class="ie lteie8 lteie7"> <![endif]-->
<!--[if IE 8 ]>    <body id="ie8" class="ie lteie8"> <![endif]-->
<!--[if IE 9 ]>    <body id="ie9" class="ie"> <![endif]-->
<!--[if !(IE)]>	 <body> <![endif]-->
<ul id="tg">
	<li id="recruiter"><a href="#recruit" rel="nofollow">Are You A Recruiter?</a></li>
   <li><a href="http://pitch.tedgoas.com" title="My Elevator Pitch" rel="me">My Elevator Pitch</a></li>
   <li><a href="http://www.tedgoas.com" title="Main Site" rel="home me">TedGoas.com &rarr;</a></li>
</ul>
<div id="wrapper">
<article>
	<header id="header">
		<h1 class="full"><img src="/content/status/h1.png" alt="Current Status"></h1>
      <hgroup id="fulltime" class="half">
      	<h2 class="no">Full-time <span>or</span> Contract: <strong>Unavailable</strong></h2>
         <p>I'm happily employed full-time as a designer-slash-front-end-developer in Fairfield, <abbr title="New Jersey">N.J.</abbr> I am not currently looking for a new gig.<br><br>I realize referrals are important. If I know someone who may be interested, I will pass your info along.</p>
      </hgroup>
      <hgroup id="freelance" class="half">
      	<h2 class="no">Freelance <span>or</span> &#8220;Side Work&#8221;: <strong>Unavailable</strong></h2>
         <p>Have something small or local? Perhaps I can help in a little while. I already have a few freelance clients, personal projects, and my day job&#8230; so I can't commit to any large, frequent, or on-site projects right now.</p>
      </hgroup>
   </header>
   <section id="skills">
   	<div class="one-third"><img src="/content/status/while.jpg" alt="While you're here I'd like to clear up a few things about exactly what I do"></div>
      <div class="two-third"><img src="/content/status/graph.jpg" alt="Perceived Interest vs. Relative Skill"></div>
   </section>
   <section id="recruit" name="recruit">
      <div id="resume" class="half"><h2><img src="/content/status/recruiter2.png" alt="Are you a recruiter?"></h2> <p>Chances are I haven't updated my resume with you in a while&#8230; care to grab an updated copy?</p><a href="EdwardGoas.doc" title="Ted Goas Resume" rel="doc nofollow resume"><img src="/content/status/btn.jpg" alt="Download my resume in Word" id="btn"></a><br><img src="/content/status/btn-copy.jpg" alt="latest and greatest"></div>
      <div class="qtr"><h3 id="yes"><img src="/content/status/yes.jpg" alt="Yes! These things apply to me."></h3>
      	<ul>
         	<li>web and interface design</li>
            <li>front-end developer (code by hand)</li>
            <li>html emails</li>
            <li>on-page seo and findability</li>
            <li>website performance and speed)</li>
            <li>copy writing</li>
         </ul>
      </div>
      <div class="qtr"><h3 id="no"><img src="/content/status/no.jpg" alt="No! These things do not apply"></h3>
      	<ul>
         	<li>back-end code or PHP programming</li>
         	<li>flash / actionscript</li>
            <li>logo or icon design</li>
         	<li>full-time seo and link-building</li>
         	<li>social media guru or junkie</li>
         	<li>information architecture</li>
			</ul>
      </div>
   </section>
</article>
<footer><p>I can also be found on <a href="http://www.linkedin.com/in/tgoas" title="networking professionally" rel="external me nofollow" id="linkedin">LinkedIn</a>, <a href="http://twitter.com/TedGoas" title="my awesome tweets" rel="external me nofollow" id="twitter">Twitter</a>, <a href="http://dribbble.com/tedgoas" title="works in progress" rel="external me nofollow" id="dribbble">Dribbble</a>, and other <a href="http://www.google.com/search?q=ted+goas&ie=utf-8&oe=utf-8&aq=t&rls=org.mozilla:en-US:official&client=firefox-a" title="Google search for my name" rel="external nofollow" id="search">fine locations</a>.</p>
</div>
:analytics
<script src="/js/smooth-scrolling.js"></script>
</body>
</html>