:head
<body class="work aid">
:header
<div class="workNav">
if $siblings do
  :next-page
  :previous-page
endif
</div>
<div class="outside mast">
	<div class="inside">
		<div class="text">
			<h1><img src="/content/work/6.aid/i/aid-logo.png" alt="@title" width="278" height="67"></h1>
			<p>@summary</p>
			<div class="sitelink">
				<a href="http://advancing-derm.org" title="@title" class="btn">View the AID Site</a>
				<a href="http://www.dermsummit.com" title="@title" class="btn">View the Conference Site</a>
			</div>
			<div class="idid">
				<small>My Role</small>
				<ul>
					<li class="design">Design</li>
					<li class="code">HTML / CSS / JavaScript</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="outside">
	<article class="inside">
		<section class="cf imgr nobottom">
			<div class="text">
				<h2>End to End Responsibility</h2>
				<p>From the kickoff meeting to post-launch updates, I played a lead role for building and populating the website.</p>
				<p>A.I.D. is comprised of some of the top names in Dermatology. I worked closely with a number of members design a concept for the site and gather content. From there, I designed each screen in a quick, open fashion that allowed the team to see the most recent iterations and provide feedback.</p>
			</div>
			<figure><img src="/content/work/6.aid/i/aid-people.jpg" alt="Landing Page Design" width="700" height="636"></figure>
		</section>
		<section class="cf full nobottom">
			<div class="text">
				<h2>The Conference</h2>
				<p>I also planned, designed, and built the website for A.I.D.'s inaugural conference, which aims to build the next generation of successful dermatology companies. I had the same responsibilities listed above and worked with many of the same folks throughout the process.</p>
			</div>
			<figure><img src="/content/work/6.aid/i/derm-summit.jpg" alt="Homepage Design" width="1000" height="2050"></figure>
		</section>
	</article>
</div>
:footer
:footer-js
:analytics
</body>
</html>