:head
<body class="work tru">
:header
<div class="workNav">
if $siblings do
  :next-page
  :previous-page
endif
</div>
<div class="outside mast">
	<div class="inside">
		<div class="text">
			<h1><img src="/content/work/2.toys-r-us/i/logo.png" alt="@title" width="213" height="61"></h1>
			<p>@summary</p>
			<div class="sitelink"><a href="http://www.toysrus.com" title="@title" class="btn">View the Site</a></div>
			<div class="idid">
				<small>My Role</small>
				<ul>
					<li class="code">HTML / CSS</li>
					<li class="email">HTML Email</li>
					<li class="speed">Website Performance</li>
				</ul>
			</div>
		</div>
		<figure><img src="/content/work/2.toys-r-us/i/truMast.jpg" alt="Toys R Us email" width="550" height="500"></figure>
	</div>
</div>
<div class="outside">
	<article class="inside">
		<section class="cf imgl bru nobottom">
			<div class="text">
				<h2>Setting the Bar for<br>HTML Emails</h2>
				<p>One of my primary responsibilities was coding and deploying HTML email designs. My team shipped about 10-15 in a normal week, and I was the point person in my group for emails.</p>
				<p>I frequently experimented with ways to improve each email. Simple things like adding image dimensions and background colors so the emails looked good <em>before</em> images downloaded. And creating subtle features like drop shadows <strong>in code</strong>, without images.</p>
				<p>Ultimately, I created a best practices guide for our group.</p>
				<p></p>
			</div>
			<figure><img src="/content/work/2.toys-r-us/i/trubru.jpg" alt="Babies R Us email" width="600" height="560"></figure>
		</section>
		<section class="cf imgr nobottom">
			<div class="text">
				<h2>Speed Counts</h2>
				<p>In my down time, I led the charge in improving Toys “R” Us's website performance (page speed).</p>
				<p>Using tools like <a href="http://www.webpagetest.org/">Web Page Test</a>, <a href="http://gtmetrix.com/">GT Metrix</a>, YSlow and Google PageSpeed, I helped gather data for key pages and present the results to the brass.</p>
				<p>We eventually made front-end optimization part of our process, with our biggest win coming with the Toys “R” Us and Babies “R” Us home pages. We removed over half the payload, removed half of the requests, and replaced bulky, inaccessible flash files with JavaScript.</p>
			</div>
			<figure><img src="/content/work/2.toys-r-us/i/trubbu.jpg" alt="Baby Universe coupon email" width="550" height="450"></figure>
		</section>
		<section class="cf full nobottom">
			<div class="text">
				<h2>Creative Code</h2>
				<p>Due to a less-than-trustful content management system, I was often forced to be creative with my code to implement designs. Basic things like CSS resets and JavaScript weren't allowed by the system, so we worked with the graphic designers to find workable compromises. Along the way, I digitized a print-centric style-guide using some <a href="http://www.awayback.com/revised-font-stack/">creative font stacks</a>.</p>
			</div>
			<figure><img src="/content/work/2.toys-r-us/i/trufao.jpg" alt="FAQ Schwarz About page" width="1000" height="1325"></figure>
		</section>
	</article>
</div>
:footer
:footer-js
:analytics
</body>
</html>