:head
<body class="work clinical">
:header
<div class="workNav">
if $siblings do
  :next-page
  :previous-page
endif
</div>
<div class="outside mast">
	<div class="inside">
		<div class="text">
			<h1><img src="/content/work/9.clinical-app/i/logo.png" alt="@title" width="275" height="37"></h1>
			<p>@summary</p>
			<span class="note">* Most of the app is confidential and contains sensitive types of data, so I'll focus on the process of designing and building it rather than what the app actually does.</span>
			<div class="idid">
				<small>My Role</small>
				<ul>
					<li class="product">Product Design</li>
					<li class="code">HTML / CSS</li>
					<li class="email">HTML Email</li>
				</ul>
			</div>
		</div>
		<figure><img src="/content/work/9.clinical-app/i/canfield-login.png" alt="Login design" width="590" height="300"></figure>
	</div>
</div>
<div class="outside">
	<article class="inside">
		<section class="cf imgl">
			<div class="text">
				<h2>Research + Wireframes. Lots of Wireframes.</h2>
				<p>When we started planning, a a clinical trial's process involved fax machines, snail-mailing flash drives, emailing large PDFs, and phone calls. The main goal was to bring several aspects of the clinical trial process online, and to design an experience that our clients wouldn’t be able to live without.</p>
				<p>A barebones version of the web app already existed, so we had users and some web analytics. We conducted an exhaustive amount of interviews, combed through the analytics, and proposed a number of new approaches for the interface and functionality. This resulted in numerous sets of site maps and wireframes, which we frequently presented and debated both inside and outside the team.</p>
			</div>
			<figure><img src="/content/work/9.clinical-app/i/canfield-wireframe.jpg" alt="wireframes" width="600" height="650"></figure>
		</section>
		<section class="cf full">
			<div class="text">
				<h2>Design, Iterate, Iterate, Iterate</h2>
				<p>Once we got a few wireframes nailed down, I began creating higher fidelity versions in Photoshop, and soon thereafter in HTML &amp; CSS. While the app has just a handful of screens, each one has a seemingly infinite number of states and edge cases to account for. Things like oversized photos, missing text fields, and uploads with long file names would often break layouts and force us to rethink and adapt the design. We had the benefit of designing with real content, so used it to test each screen in a myriad of browsers until we were confident in the design's sturdiness.</p>
			</div>
			<figure><img src="/content/work/9.clinical-app/i/canfield-evolution.jpg" alt="evolution of the interface and UI design" width="1000" height="500"></figure>
		</section>
		<section class="cf imgr">
			<div class="text">
				<h2>Fine Tuning &amp Bulletproofing</h2>
				<p>With the interface in place and each function working, we focused on improving each individual task. We looked at the the product's four or five user roles (personas, if you will) and revisited their typical website session, the tasks they're interested in, and how they complete them. All along, we looked for ways to improve each interaction and improve the flow. The number of ‘small wins’ we made at this stage really added up.</p>
				<p>We had been browser testing along the way, but at this stage we really submerged ourselves in it until every bug was worked out, from the iPad3 down to Internet Explorer 6. The app also makes heavy use of print stylesheets. Every page prints clearly. Even the lightboxes. Even in IE6.</p>
				<img src="http://i.tedgoas.com/browsers.png" alt="supported browsers" width="150" height="50">
			</div>
			<figure><img src="/content/work/9.clinical-app/i/canfield-dcf.jpg" alt="online issue tracking" width="600" height="544"></figure>
		</section>
		<section class="cf imgr nobottom">
			<div class="text">
				<h2>Release Party</h2>
				<p>After fixing every bug and double-checking every browser, we could see the fruits of our labor taking shape. But we still had one large problem to address before the big unveil: announcing a website overhaul to a conservative, non-technical user base. <em>gasp!</em></p>
				<p><img src="/i/logo-cm.png" alt="Campaign Monitor" width="187" height="65"></p>
				<p>We did this in several waves. First we designed and sent an HTML email announcing the imminent changes (sent with Campaign Monitor). Next, we updated our in-site support docs with new screenshots and training on features. When we pushed the updated site live, we did it after hours (most of our users are in North America) with the whole web team present to put out fires. As one last measure of support, the development team (myself included) worked as customer support for a while.</p>
			</div>
			<figure><img src="/content/work/9.clinical-app/i/canfield-email.jpg" alt="HTML Email" width="600" height="756"></figure>
		</section>
		<section class="cf imgl nobottom ui">
			<div class="text">
				<h2>A Scalable Interface Language</h2>
				<p>As we planned and prototyped new features, I consolidated the app's interface elements and organized them into HTML &amp; CSS classes that can be mixed and matched. This sped up the design process, made interface elements more consistent, and created easy-to-use design patterns for our back-end developers.</p>
			</div>
			<figure><img src="/content/work/9.clinical-app/i/canfield-ui.jpg" alt="Design Style Guide" width="700" height="700"></figure>
		</section>
		<section class="cf full nobottom">
			<div class="text">
				<h2>The Website is Alive!</h2>
				<p>In the weeks after the launch, we received an overwhelmingly positive response from our users. Comments ranged from &#8220;The website is more useful now&#8221; to &#8220;the website is simply a pleasure to use&#8221;. But one of the most rewarding aspects of working on this app is that it's evolving, we work on it frequently throughout each year, and I'm helping guide its course.</p>
			</div>
			<figure><img src="/content/work/9.clinical-app/i/clinical-dashboard.png" alt="Dashboard Design" width="1000" height="900"></figure>
		</section>
	</article>
</div>
:footer
:footer-js
:analytics
</body>
</html>