:head
<body class="work olay">
:header
<div class="workNav">
if $siblings do
  :next-page
  :previous-page
endif
</div>
<div class="outside mast">
	<div class="inside">
		<div class="text">
			<h1>@title</h1>
			<p>@summary</p>
			<div class="idid">
				<small>My Role</small>
				<ul>
					<li class="design">Design</li>
					<li class="code">HTML / CSS / JavaScript</li>
					<li class="email">HTML Email</li>
				</ul>
			</div>
		</div>
		<figure><a href="http://dribbble.com/shots/1188413-Responsive-Email"><img src="/content/work/5.personal/i/personalMast.png" alt="Email wireframe" width="600" height="600"></a></figure>
	</div>
</div>
<div class="outside">
	<article class="inside">
		<section class="cf imgr nobottom email">
			<div class="text">
				<h2>Responsive Emails</h2>
				<p> I started coding responsive emails in early 2013, but after creating a few templates I noticed that I'd reinvented the wheel with each one. So I created a master template that contains a few layout ideas for HTML emails that adapt to small screens and respond to breakpoints.</p>
				<p>It also includes workarounds for a few HTML email gotchas in such as dodgy box model support in Hotmail, auto-detected links in Yahoo!, and background images in Outlook. With most of my best-practices in this one template, I started most of my emails using the template, ripping out what I didn't need and customizing the rest.</p>
				<p>This was too awesome to keep to myself.</p>
				<p><a href="https://github.com/TedGoas/Responsive-Email-XX" class="btn github"><i class="icon-github"></i> View on GitHub</a></p>
			</div>
			<figure :scrollreveal-fromright ><a href="http://dribbble.com/shots/1024711-Responsive-Email-Wireframe"><img src="/content/work/5.personal/i/personalEmail.png" alt="Responsive Email diagram" width="700" height="700"></a></figure>
		</section>
		<section class="cf imgl nobottom support">
			<div class="text">
				<h2>Support Details</h2>
				<p>When Canfield's tech support team starts helping a client, the conversation usually starts with <em>“What is your OS / browser / network settings / etc.”?</em> Seeing an opportunity to work on something fun and off-the-books, I designed a concept for an app that grabs the technical details of a computer environment. From this, a co-worker and I built a working prototype <strong>on our spare time</strong>.</p>
				<p>Written in JavaScript, the app is quite small and portable. It's already been forked into two other projects, proving to be quite useful to our support team.</p>
				<p><a href="http://dribbble.com/shots/642658-Support-App-Rebound" class="btn dribbble"><i class="icon-dribbble-1"></i> View on dribbble</a></p>
			</div>
			<figure :scrollreveal-fromleft ><a href="http://dribbble.com/shots/642658-Support-App-Rebound"><img src="/content/work/5.personal/i/oddsSupport.jpg" alt="Support App" width="700" height="363"></a></figure>
		</section>
		<section class="cf full">
			<div class="text">
				<h2>Activity Dashboard</h2>
				<p>I designed this to explore Microsoft's Metro design language. The concept below shows how busy each website is so someone can decide to either jump in or pass. It's not as much of an RSS syndicator as it is a customized dashboard. I never built of working version of this, but it was fun to experiment with this design style.</p>
				<p><a href="http://dribbble.com/shots/714820-Metro-Dashboard/attachments/66934" title="view final on dribbble" class="btn dribbble"><i class="icon-dribbble-1"></i> View on dribbble</a></p>
			</div>
			<figure :scrollreveal-fromtop ><a href="http://dribbble.com/shots/714820-Metro-Dashboard/attachments/66934" title="view final on dribbble"><img src="/content/work/5.personal/i/oddsDashboard.jpg" alt="Metro style Dashboard" class="fluid" width="1100" height="600"></a></figure>
		</section>
	</article>
</div>
:footer
:footer-js
:analytics
<script src="/js/scrollReveal.js"></script>
</body>
</html>