:head
<body class="work">
:header
<div class="outside main">
	<article class="inside">
		<ul class="projects cf">
		get "/work" do
		foreach $children do
			<li class="project">
				<a href="@url" title="view the details">
	  		foreach $_thumbnail do
					<img src="@url" alt="@title" height="330" width="330" class="fluid">
					<h4>@title</h4>
					<small>@byline</small>
				endforeach
				</a>
			</li>
		endforeach
		end
		</ul>
		<div class="cf skills">
			<div class="what">
				<h2>I mainly do these things</h2>
				<img src="/i/skillProduct.jpg" alt="product design" height="72" width="72" class="skill">
				<h3 class="product">Product Design</h3>
				<p>Creating and prioritizing functionality is key when delivering a on product's stated purpose. We're building solutions, not features. Low-resolution diagrams, flow charts, and rough interfaces help get the point across about how the everything should work.</p>
				<img src="/i/skillDesign.jpg" alt="design" height="72" width="72" class="skill">
				<h3 class="design">Web &amp; Interface Design</h3>
				<p>As far as visitors are concerned, the interface is the product. I design intuitive, attractive websites and app interfaces that help people get things done. The goal isn't to make things as simple as possible, it's to make them as obvious as possible.</p>
				<img src="/i/skillCode.jpg" alt="front-end code" height="72" width="72" class="skill">
				<h3 class="code">Front-End Development</h3>
				<p>HTML, CSS, jQuery, responsive &amp; adaptive design, preprocessors, cross-browser testing, build processes, microformats, and more. Whether you look at it or not, I write less code that does more.</p>
				<img src="/i/skillEmail.jpg" alt="html emails" height="72" width="72" class="skill">
				<h3 class="email">HTML Emails</h3>
				<p>I design and code beautiful email newsletters and transactional email templates, including <a href="https://github.com/TedGoas/Responsive-Email-XX">responsive HTML emails</a> for mobile and small screens. Tables, inline styles, Outlook... I don't mind coding like it's 1999!</p>
				<img src="/i/skillSpeed.jpg" alt="website performance" height="72" width="72" class="skill">
				<h3 class="speed">Website Speed</h3>
				<p>Speed means money. People tend not to wait for slow loading pages and often abandon them. Slow sites can mean loss of users, loss of revenue and brand damage. I build with this in mind.</p>
				<img src="/i/skillMore.jpg" alt="more" height="72" width="72" class="skill">
				<h3 class="more">More Than A Job</h3>
				<p>Building the Internet is more of a hobby than a job. I'm perpetually interested in where the web is going and the techniques used to get there. I read voraciously (lately I'm into <a href="http://www.offscreenmag.com/">Offscreen Mag</a> and <a href="http://www.sidebar.io/">Sidebar.io</a>), tinker with code on <a href="https://github.com/TedGoas">GitHub</a>, experiment with design on <a href="http://dribbble.com/tedgoas">dribbble</a>, and talk shop on <a href="https://twitter.com/TedGoas">Twitter</a>.</p>
			</div>
			<div class="exp">
				<h2>I have some experience</h2>
				<img src="http://i.tedgoas.com/quote-agency.png" alt="atom" height="48" width="48">
				<h4>I have agency experience.</h4>
				<p>While living in Arizona, I worked for an agency specializing in web design and C# development. I experienced the agency life in all its glory, including kickoff meetings, short timelines, client relationships, and  on-site training sessions. I worked on projects for large accounts like Red Bull and NASA.</p>
				<img src="http://i.tedgoas.com/quote-startup.png" alt="lab beaker" height="48" width="48">
				<h4>I have startup experience.</h4>
				<p>As part of a four-person team at a funded startup called Insurance Quotes, I designed the flow of a huge, multi-step form and built a Wordpress theme from scratch, among other things. Shortly after I departed for a job closer to home, the startup sold and the remaining three folks pocketed a good chunk of change. Guess I missed my payday.</p>
				<img src="http://i.tedgoas.com/quote-bigbrand.png" alt="tie" height="48" width="48">
				<h4>I have big brand experience.</h4>
				<p>At Insight, I got to work with many of the world's major hardware and software companies (Apple, Microsoft, IBM, Cisco, Xerox, more). Sometimes I worked directly with their in-house designers to master the various style guides for each project.</p>
				<img src="http://i.tedgoas.com/quote-friends.png" alt="lightbulb" height="48" width="48">
				<h4>I keep up with old friends.</h4>
				<p>I keep in contact with a number of my former bosses and co-workers. In keeping in touch with the creative director at Latin Percussion, I sometimes help with some of their more complex front-end development.</p>
				<img src="http://i.tedgoas.com/quote-speed.png" alt="clock" height="48" width="48">
				<h4>I manage web performance.</h4>
				<p>While working at Toys &#8220;R&#8221; Us, my boss and I initialed the effort to test web page speed, uncover ways to decrease load times, and sell our findings to upper management for the company's most visited web pages. After we each left the company, my boss (now at Oxygen Network / NBC Universal) and I teamed up again for a similar project at Oxygen.com.</p>
				<img src="http://i.tedgoas.com/quote-school.png" alt="graduation cap" height="48" width="48">
				<h4>I went to college. Twice.</h4>
				<p>I have a <abbr title="Bachelor of Science">B.S.</abbr> in Multimedia and an <abbr title="Master of Science">M.S.</abbr> in Technology Management, though I don't talk about them often. Did they increase my skill as a web designer? Maybe. Did they teach me how to think critically and filter out the crap? Definitely.</p>
			</div>
		</div>
	</article>
</div>
:footer
:footer-js
:analytics
</body>
</html>
