:head
<body class="work aid">
:header
<div class="workNav">
if $siblings do
  :next-page
  :previous-page
endif
</div>
<div class="outside mast">
	<div class="inside">
		<div class="text">
			<h1><img src="/content/work/3.lone-star-percussion/i/lone-star-logo.png" alt="@title" width="221" height="96"></h1>
			<p>@summary</p>
			<div class="sitelink">
				<a href="http://www.lonestarpercussion.com/" title="@title" class="btn">View the Lone Star Percussion Site</a>
			</div>
			<div class="idid">
				<small>My Role</small>
				<ul>
					<li class="design">Design</li>
					<li class="email">HTML Email</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="outside">
	<article class="inside">
		<section class="cf full nobottom">
			<div class="text">
				<h2>Beyond the Style Guide</h2>
				<p>Despite having a style guide and front-end framework in place, Lone Star's team consistently pushed me to stretch the boundaries with my designs. This encouragement led to a number of experimental concepts, such as this Google Map view with an overlay. Thanks to constructive and actionable feedback from the team, we finalized and shipped each page after a handful of iterations.</p>
			</div>
			<figure :scrollreveal-fromtop ><img src="/content/work/3.lone-star-percussion/i/lone-star-contact.jpg" alt="Google Map" width="1000" height="700"></figure>
		</section>
		<section class="cf full nobottom info">
			<div class="text">
				<h2>About Us, Infographic Style</h2>
				<p>Speaking of pushing design boundaries, the Lone Star team had the idea of replacing the standard <em>About Us</em> page with an infographic. I hadn't done an infographic at this scale before, but thought it'd be something fun to learn and quickly jumped into the unknown.</p>
				<p>After organizing a slew of content in Google Docs, the Lone Star team and I worked on a design that would tell the Lone Star story top to bottom. At almost 4000 pixels high, the resulting page combines history, data, and a bit of humor with a range of visual aids.</p>
			</div>
			<figure :scrollreveal-fromtop ><img src="/content/work/3.lone-star-percussion/i/lone-star-info.jpg" alt="Infographic Design" width="1000" height="800"></figure>
		</section>
	</article>
</div>
:footer
:footer-js
:analytics
<script src="/js/scrollReveal.js"></script>
</body>
</html>