:head
<body class="work seatgeek">
:header
<div class="workNav">
if $siblings do
  :next-page
  :previous-page
endif
</div>
<div class="outside mast">
	<div class="inside">
		<div class="text">
			<h1><img src="/content/work/7.seatgeek/i/logo.png" alt="@title" width="250" height="75"></h1>
			<p>@summary</p>
			<div class="sitelink"><a href="http://www.seatgeek.com" title="@title" class="btn">View the Site</a></div>
			<div class="idid">
				<small>My Role</small>
				<ul>
					<li class="design">Design</li>
					<li class="email">HTML Email (Responsive)</li>
				</ul>
			</div>
		</div>
		<figure><img src="/content/work/7.seatgeek/i/sgiPhone.png" alt="Even non-responsive emails display well on small screens" width="425" height="500"></figure>
	</div>
</div>
<div class="outside">
	<article class="inside">
		<section class="cf imgl pricealert">
			<div class="text">
				<h2>Email Templates. Dynamic &amp; Beautiful.</h2>
				<p>Using SeatGeeks's style guidelines and tone, I created a series of transactional email templates and dynamic newsletters.</p>
				<p>Each template renders accurately in all major email clients, even the strict ones (I'm looking at you, Outlook and Gmail...). And with the help of a few media queries, each layout adjusts on small screen devices.</p>
				<p>I worked with SeatGeek every step of the way. A typical project would start by discussing design concepts with <a href="https://twitter.com/jackgretz" rel="external Twitter" title="Jack on Twitter">Jack Groetzinger</a> and team, talking through goals and potential pitfalls. After coding and testing each template, I'd work with the engineers* to transform the code into a dynamic format and commit to SeatGeek's GitHub repo.</p>
				<small>* SeatGeek's engineers are a smart bunch and rarely need my help!</small>
			</div>
			<figure><img src="/content/work/7.seatgeek/i/sgPriceAlert.jpg" alt="Transactional Email Template" width="675" height="800"></figure>
		</section>
		<section class="cf imgr nobottom emerging">
			<div class="text">
				<h2>Responsive Emails</h2>
				<p>As the idea of responsive emails matured, we started to adjust layouts on small screens. Most emails are still designed for desktop and tablet first, though small screens are on our mind from the start.</p>
				<p>I wrote extra media queries to condense multiple columns into a single one, center-justify content blocks, bump up text size, and other small tweaks that make emails easier to digest on a phone.</p>
				<p>Responsive emails don't have to be boring!</p>
			</div>
			<figure><img src="/content/work/7.seatgeek/i/sgResponsive.jpg" alt="Responsive email design" width="675" height="850"></figure>
		</section>
		<section class="cf imgl keynote nobottom">
			<div class="text">
				<h2>A Keynote Presentation Looking That Much Better</h2>
				<p>When I was asked to redesign a Keynote presentation for the SeatGeek sales team, I hadn't had much experience working with Keynote. But I stepped out of my comfort zone and had a surprising amount of fun doing it.</p>
				<p>I learned my way around Keynote's toolbox and was designing full-screen, sales-guy-editable slides in no time. SeatGeek's sales team was blown away with the upgrade and I fell in love with Keynote.</p>
			</div>
			<figure><img src="/content/work/7.seatgeek/i/sgKeynote.jpg" alt="Keynote Sesign" width="710" height="575"></figure>
		</section>
	</article>
</div>
:footer
:footer-js
:analytics
</body>
</html>