:head
<body class="work olay">
:header
<div class="workNav">
if $siblings do
  :next-page
  :previous-page
endif
</div>
<div class="outside mast">
	<div class="inside">
		<div class="text">
			<h1>@title</h1>
			<p>@summary</p>
			<div class="idid">
				<small>My Role</small>
				<ul>
					<li class="design">Design</li>
					<li class="code">HTML / CSS / JavaScript</li>
					<li class="email">HTML Email</li>
				</ul>
			</div>
		</div>
		<figure><a href="http://dribbble.com/shots/1188413-Responsive-Email"><img src="/content/work/5.personal/i/personalMast.png" alt="Email wireframe" width="600" height="600"></a></figure>
	</div>
</div>
<div class="outside">
	<article class="inside">
		<section class="cf imgr email">
			<div class="text">
				<h2>Responsive Email XX</h2>
				<p>I started coding responsive emails in early 2013, but after creating a few templates I noticed that I'd reinvented the wheel each time. So I created a master template with a few layout ideas that adapt to small screens using media queries. I also included workarounds for common HTML email gotchas such as dodgy box model support in Outlook, auto-detected links in Yahoo!, and background images in Gmail.</p>
				<p>With most of my best-practices in one template, I creating a solid starting point for new emails. I simply ripped out what I didn't need and customized the rest.</p>
				<p>This was too awesome to keep to myself, so I named it <strong>Responsive Email XX</strong> (mostly because I was drinking Dos Equis while writing it), and put it up on GitHub.</p>
				<p><a href="https://github.com/TedGoas/Responsive-Email-XX" class="btn github"><i class="icon-github"></i> View on GitHub</a> <a href="http://dribbble.com/shots/1188413-Responsive-Email" class="btn dribbble"><i class="icon-dribbble-1"></i> View on dribbble</a></p>
			</div>
			<figure :scrollreveal-fromright ><a href="http://dribbble.com/shots/1024711-Responsive-Email-Wireframe"><img src="/content/work/5.personal/i/personalEmail.png" alt="Responsive Email diagram" width="625" height="700"></a></figure>
		</section>
		<section class="cf imgl">
			<div class="text">
				<h2>Cerberus, Another Responsive Email</h2>
				<p>Responsive Email XX (above) was my first deep dive with responsive email. I used it for a while and it had some success on GitHub, but after a while its flaws began to surface.</p>
				<p>So I built another one that combines the best of what's in Responsive Email XX with what I've learned since. I wrote <a href="/blog/cerberus-responsive-email-templates/">a blog post</a> explaining why I made this template, how it works, and what I learned from my second deep dive with responsive emails.</p>
				<p>This template, called <strong>Cerberus</strong>, focuses on a small number of responsive email patterns that, when combined, go a long way. A mantra of email design is to keep things simple. Where my first attempt failed, I hope this one succeeds.</p>
				<p><a href="http://tedgoas.github.io/Cerberus/" class="btn github"><i class="icon-github"></i> View on GitHub</a> <a href="http://dribbble.com/shots/1335775-Another-Responsive-Email-Template" class="btn dribbble"><i class="icon-dribbble-1"></i> View on dribbble</a></p>
			</div>
			<figure :scrollreveal-fromleft ><a href="http://dribbble.com/shots/1024711-Responsive-Email-Wireframe"><img src="/content/work/5.personal/i/personalCerberus.jpg" alt="Cerberus Email design and code" width="600" height="700"></a></figure>
		</section>
		<section class="cf full support">
			<div class="text">
				<h2>Support Details</h2>
				<div class="halves cf">
					<p>When Canfield's tech support team starts helping a client, conversations usually start with <em>“What is your O.S. / browser / network settings”?</em> Seeing an opportunity to work on something fun, I designed an app that automatically grabs the technical details of a computer environment and routes them via email.</p>
					<p>Using this design, a co-worker and I built a working prototype in JavaScript <strong>on our spare time</strong>. The resulting app is quite portable and has already been forked into Canfield projects. Not a bad way to spend our free time, eh?</p>
				</div>
				<p class="center"><a href="http://dribbble.com/shots/642658-Support-App-Rebound" class="btn dribbble"><i class="icon-dribbble-1"></i> View on dribbble</a></p>
			</div>
			<figure :scrollreveal-fromtop ><a href="http://dribbble.com/shots/642658-Support-App-Rebound"><img src="/content/work/5.personal/i/oddsSupport.jpg" alt="Support App" width="1000" height="500"></a></figure>
		</section>
		<section class="cf full">
			<div class="text">
				<h2>Activity Dashboard</h2>
				<p>I designed this to learn and explore Microsoft's Metro design language. This concept was designed purely for fun; I never built of working version of it.</p>
				<p><a href="http://dribbble.com/shots/714820-Metro-Dashboard" title="view final on dribbble" class="btn dribbble"><i class="icon-dribbble-1"></i> View on dribbble</a></p>
			</div>
			<figure :scrollreveal-fromtop ><a href="http://dribbble.com/shots/714820-Metro-Dashboard" title="view final on dribbble"><img src="/content/work/5.personal/i/oddsDashboard.jpg" alt="Metro style Dashboard" class="fluid" width="1100" height="600"></a></figure>
		</section>
	</article>
</div>
:footer
:footer-js
:analytics
<script src="/js/scrollReveal.js"></script>
</body>
</html>