:head
<body class="work oddsends">
:header
<div class="workNav">
if $siblings do
  :next-page
  :previous-page
endif
</div>
<div class="outside mast">
	<div class="inside">
		<div class="text">
			<h1>@title</h1>
			<p>@summary</p>
			<div class="idid">
				<small>My Role</small>
				<ul>
					<li class="design">Design</li>
					<li class="code">HTML / CSS / JavaScript</li>
					<li class="email">HTML Email</li>
				</ul>
			</div>
		</div>
		<figure><img src="/content/work/1.odds-and-ends/i/oddsMast.jpg" alt="Vidcaster and ZenDesk" width="450" height="375"></figure>
	</div>
</div>
<div class="outside">
	<article class="inside">
		<section class="cf imgr nobottom">
			<div class="text">
				<h2>VidCaster</h2>
				<p><a href="http://www.vidcaster.com/" title="VidCaster" rel="external">VidCaster</a> asked me to create a theme for their content management system focused on video. While the project only called for me to supply the design, I worked closely with VidCaster's developer to turn my Photoshop design into working HTML / CSS templates. Together, we developed page load techniques and used CSS3 in a way to allow for graceful degradation.</p>
			</div>
			<figure :scrollreveal-fromright ><img src="/content/work/1.odds-and-ends/i/vidcaster.jpg" alt="Video CMS template design" width="600" height="585"></figure>
		</section>
		<section class="cf imgl gs nobottom">
			<div class="text">
				<h2>Gig Salad</h2>
				<p><a href="http://www.gigsalad.com/" title="book live entertainment" rel="external">Gig Salad</a> is a leading site for booking live entertainment. While the website reflects a strong brand and intuitive interface, their email notifications had traditionally been fairly basic.</p>
				<p>I was asked to create a few HTML email templates for the in-house team to repurpose and use as needed. I designed a few branded templates and wrote mobile friendly code that display well even before images downloaded. Each template was thoroughly tested and shipped with lots of code comments.</p>
			</div>
			<figure :scrollreveal-fromleft ><img src="/content/work/1.odds-and-ends/i/gig-salad.png" alt="Gig Salad html email template" width="700" height="675"></figure>
		</section>
		<section class="cf imgr">
			<div class="text">
				<h2>4ormat</h2>
				<p>I designed and coded a theme for <a href="http://4ormat.com/" title="build a professional portfolio" rel="external">4ormat</a>, which allowed its users to upload a wide variety of content and change the appearance of their profile. The theme is light on the <abbr title="user interface">UI</abbr> and interaction effects, allowing the content to do the talking.</p>
				<p>When it came time to code, I learned 4ormat's template language to nest variables directly into the CSS, allowing users to change the theme's appearance. When all HTML, CSS, and JavaScript validated, the theme shipped and became part of 4ormat.com.</p>
			</div>
			<figure :scrollreveal-fromright ><img src="/content/work/1.odds-and-ends/i/format.jpg" alt="Video CMS template design" width="600" height="594"></figure>
		</section>
	</article>
</div>
:footer
:footer-js
:analytics
<script src="/js/scrollReveal.js"></script>
</body>
</html>