:head
<body class="work clinical">
:header
<div class="workNav">
if $siblings do
  :next-page
  :previous-page
endif
</div>
<div class="outside mast">
	<div class="inside">
		<div class="text">
			<h1><img src="/content/work/9.clinical-app/i/logo.png" alt="@title" width="275" height="37"></h1>
			<p>@summary</p>
			<span class="note">* Most of the app is confidential and contains sensitive types of data, so I'll focus on the process of designing and building it rather than what the app actually does.</span>
			<div class="idid">
				<small>My Role</small>
				<ul>
					<li class="product">Product Design</li>
					<li class="code">HTML / CSS</li>
					<li class="email">HTML Email</li>
				</ul>
			</div>
		</div>
		<figure><img src="/content/work/9.clinical-app/i/canfield-login.png" alt="Login design" width="590" height="300"></figure>
	</div>
</div>
<div class="outside">
	<article class="inside">
		<section class="cf imgl">
			<div class="text">
				<h2>Research + Wireframes. Lots of Wireframes.</h2>
				<p>When we started, a basic yet functional web app already existed. But despite having access to our app, most of our clients completed their tasks using fax machines, snail-mail, emails (with super-large attachments), and the phone. Our main goal was to bring all aspects of the clinical trial process online using Canfield's web app. So we set out to design a first class experience that our clients wouldn’t be able to live without.</p>
				<p>Our team combed through app's the analytics, conducted an exhaustive amount of user interviews, and proposed a number of new approaches for the interface and functionality. I created numerous sets of site maps and wireframes, which we frequently presented and debated both inside and outside the team.</p>
			</div>
			<figure :scrollreveal-fromleft >
				<img src="/content/work/9.clinical-app/i/canfield-wireframe.jpg" alt="wireframes" width="600" height="650">
				<figcaption>I went through two Field Notes books and used three different wireframing apps.</figcaption>
			</figure>
		</section>
		<section class="cf full">
			<div class="text">
				<h2>Design, Iterate, <del>Iterate</del>, <del>Repeat</del>, <del>Go Over</del>, Iterate</h2>
				<div class="halves cf">
					<p>Once we got a few wireframes nailed down, I moved into Photoshop and HTML/CSS/JavaScript. I used Photoshop to create a few layouts, but used it mostly to design the site's visual language. We had real content available to us, so we made our mockups in markup and started feeding them with data to see how our wireframes held up.</p>
					<p>While the app has just a handful of screens, each one has a seemingly infinite number of states and edge cases to account for. Things like oversized photos, missing text fields, and long file names would often break layouts and force us to adapt the design. We uncovered a ton of edge cases and iterated on each screen until we had a sturdy design.</p>
				</div>
			</div>
			<figure :scrollreveal-fromtop >
				<img src="/content/work/9.clinical-app/i/canfield-evolution.jpg" alt="evolution of the interface and UI design" width="1000" height="500">
			</figure>
		</section>
		<section class="cf imgr">
			<div class="text">
				<h2>Fine Tuning &amp Bulletproofing</h2>
				<p>With the interface in place and the back-end coming together, we shifted our focus to improving the experience of the most common tasks.</p>
				<p>Using the product's four or five user roles (personas, if you will), we revisited their typical website session and the tasks they're interested in. We looked for ways to improve each interaction and improve the flow of completing common tasks. The number of ‘small wins’ we made at this stage really added up.</p>
				<p>We had been browser testing along the way, but this was the stage we really submerged ourselves in it until every bug was worked out, from the iPad3 down to Internet Explorer 6. The app also makes heavy use of print stylesheets. Every page prints clearly. Even the lightbox modals. Even in IE6.</p>
				<img src="http://i.tedgoas.com/browsers.png" alt="supported browsers" width="150" height="50">
			</div>
			<figure :scrollreveal-fromright ><img src="/content/work/9.clinical-app/i/canfield-dcf.jpg" alt="online issue tracking" width="600" height="544"></figure>
		</section>
		<section class="cf imgr nobottom">
			<div class="text">
				<h2>Release Party</h2>
				<p>After fixing every bug and double-checking every browser, we could see the fruits of our labor taking shape. But we still had one large problem to address before the big unveil: announcing a website overhaul to a conservative, non-technical user base. <em>Gasp!</em></p>
				<p><img src="/i/logo-cm.png" alt="Campaign Monitor" width="187" height="65"></p>
				<p>We decided to do this in several waves. First I designed and sent an HTML email announcing the imminent changes (sent with Campaign Monitor). Next, we updated our support docs with new visual aids and training on features. When we finally pushed the updates live, we did it after hours (most of our users are in North America) with the whole web team present to put out fires. As one last measure of support, the development team (myself included) helped field customer support issues for a while.</p>
			</div>
			<figure :scrollreveal-fromright ><img src="/content/work/9.clinical-app/i/canfield-email.jpg" alt="HTML Email" width="600" height="756"></figure>
		</section>
		<section class="cf imgl nobottom ui">
			<div class="text">
				<h2>A Scalable Interface Language</h2>
				<p>As we continued building, I consolidated and organized the app's interface elements into HTML &amp; CSS classes that can be mixed and matched. This gave everything a consistent look, gave back-end developers easy-to-use code blocks to use, and sped up the design process.</p>
			</div>
			<figure :scrollreveal-fromleft ><img src="/content/work/9.clinical-app/i/canfield-ui.jpg" alt="Design Style Guide" width="700" height="700"></figure>
		</section>
		<section class="cf full nobottom">
			<div class="text">
				<h2>The Website is Alive!</h2>
				<p>In the weeks after the launch, we received an overwhelmingly positive response from our clients. Comments ranged from &#8220;The website is more useful now&#8221; to &#8220;the website is simply a pleasure to use&#8221;. I think someone even referred to it as the &#8220;Cadillac&#8221; of websites (which is good, right?).</p>
				<p>But one of the most rewarding aspects of working on this app is that it's evolving. We work on it every month and I'm helping guide its course.</p>
			</div>
			<figure :scrollreveal-fromtop ><img src="/content/work/9.clinical-app/i/clinical-dashboard.png" alt="Dashboard Design" width="1000" height="900"></figure>
		</section>
	</article>
</div>
:footer
:footer-js
:analytics
<script src="/js/scrollReveal.js"></script>
</body>
</html>