:head
<body class="work cloudee">
:header
<div class="workNav">
if $siblings do
  :next-page
  :previous-page
endif
</div>
<div class="outside mast">
	<div class="inside">
		<div class="text">
			<h1><img src="/content/work/4.cloudee/i/logo.png" alt="@title" width="265" height="58"></h1>
			<p>@summary</p>
			<div class="idid">
				<small>My Role</small>
				<ul>
					<li class="email">HTML Email</li>
				</ul>
			</div>
		</div>
		<figure><img src="/content/work/4.cloudee/i/cloudeeMast.jpg" alt="What's New Html Email" width="592" height="450"></figure>
	</div>
</div>
<div class="outside">
	<article class="inside">
		<section class="cf imgl nobottom">
			<div class="text">
				<h2>Mobile First Emails</h2>
				<p>I worked with Cloudee's talented creative team to bring their designs to life.</p>
				<p>Where necessary, we worked together to adjust each design based on <a href="http://www.campaignmonitor.com/css/" title="CSS Support in email clients" rel="external">CSS restrictions</a> of popular email clients.</p>
				<p>After the designs were finalized, I coded and tested each HTML template in several major email clients on both desktop and small screen. Since Cloudee is a mobile app, displaying the emails well on small screens was important. I wrote media queries to adapt the layout in iOS Mail (iPhone + iPad), Android, and mobile Gmail.</p>
				<img src="/i/emails.png" alt="email clients" class="fluid" height="55" width="350">
			</div>
			<figure><img src="/content/work/4.cloudee/i/cloudeeEmailSm.jpg" alt="Softwre Update Email" width="500" height="800"></figure>
		</section>
		<section class="cf full nobottom">
			<figure><img src="/content/work/4.cloudee/i/cloudee-series.jpg" alt="Cloudee series of emails" width="1000" height="500"></figure>
		</section>
	</article>
</div>
:footer
:footer-js
:analytics
</body>
</html>