:head
<body class="work aid">
:header
<div class="workNav">
if $siblings do
  :next-page
  :previous-page
endif
</div>
<div class="outside mast">
	<div class="inside">
		<div class="text">
			<h1><img src="/content/work/8.patient-portal/i/portal-logo.png" alt="@title" width="323" height="61"></h1>
			<p>@summary</p>
			<span class="note">* Most of the app is confidential and contains sensitive types of data, so I'll focus on the process of designing and building it rather than what the app actually does.</span>
			<div class="idid">
				<small>My Role</small>
				<ul>
					<li class="product">Product Design</li>
					<li class="code">HTML / CSS / RWD</li>
				</ul>
			</div>
		</div>
		<figure><img src="/content/work/8.patient-portal/i/mastPortal.jpg" alt="Dashboard and Analytics" width="1350" height="700"></figure>
	</div>
</div>
<div class="outside">
	<article class="inside">
		<section class="cf imgr nobottom">
			<div class="text">
				<h2>Planning</h2>
				<p>Bring 3D photography to the web by translating our existing desktop software into user-friendly, web based suite of tools.</p>
				<p>Research, evolution, wireframes, and such.</p>
				<p>Existing products and doctor practices gave the interface a myriad of edge cases to accommodate. Plus small devices.</p>
			</div>
			<figure><img src="/content/work/8.patient-portal/i/portal-planning.jpg" alt="Notes, sketches, and wireframes" width="700" height="850"></figure>
		</section>
		<section class="cf imgl nobottom">
			<div class="text">
				<h2>Patient Side</h2>
				<p>Our focus was clear from the start: patient images are priority #1, everything else comes second. I created a dark style guide to highlight the photos and a small bit of interface and data visualization. Early in the process, I experimented with the contrast, spacing, ad overall size of the interface in an effort to strike the right balance of “useful but not distracting”.</p>
				<p>We spent a lot of time designing the sign-up / log-in flow with a focus on security. Data protection and HIPAA compliance were paramount at every stage, given the sensitive nature of the app's content.</p>
				<p>The desktop software we modeled the app after is rather complex. I frequently fought for simplicity and made cases for leaving out a number of extra “would be nice” features. I won some and lost some, but the app is better for it.</p>
			</div>
			<figure><img src="/content/work/8.patient-portal/i/portal-ui.jpg" alt="Style Guide" width="700" height="900"></figure>
		</section>
		<section class="cf full nobottom">
			<div class="text">
				<h2>Practice Side</h2>
				<p>We provide doctors with several tools to monitor website activity and close deals with prospective patients. Doctors can pull up a master list of prospective patients and immediately see who is most interested based on their activity. From there, each practice can dig into a patient's activity, see their photos, and even message them directly through the web.</p>
			</div>
			<figure><img src="/content/work/8.patient-portal/i/portal-practice-display.jpg" alt="Practice Dashboard" width="1000" height="762"></figure>
		</section>
	</article>
</div>
:footer
:footer-js
:analytics
</body>
</html>