:head
<body class="work cloudee">
:header
<div class="workNav">
if $siblings do
  :next-page
  :previous-page
endif
</div>
<div class="outside mast">
	<div class="inside">
		<div class="text">
			<h1><img src="/content/work/4.cloudee/i/logo.png" alt="@title" width="265" height="58"></h1>
			<p>@summary</p>
			<div class="idid">
				<small>My Role</small>
				<ul>
					<li class="email">HTML Email</li>
				</ul>
			</div>
		</div>
		<figure><img src="/content/work/4.cloudee/i/cloudeeMast.jpg" alt="What's New Html Email" width="592" height="450"></figure>
	</div>
</div>
<div class="outside">
	<article class="inside">
		<section class="cf imgl nobottom">
			<div class="text">
				<h2>Mobile First Emails</h2>
				<p>I collaborated with Cloudee's creative team to transform their email designs into production-ready email code. We worked together to finalize the team's already solid designs, making minor adjustments to improve the consistency of how the emails display across the most used email clients.</p>
				<p>After finalizing the designs, I coded the templates and bulletproofed them in a variety of web and email clients. The resulting emails were near pixel perfect across the board. Even in Outlook.</p>
				<p>Being a mobile app, it was paramount that all Cloudee emails display well on small screens. Keeping in mind the original design, I wrote media queries to adapt each layout in iOS Mail and Android Email.</p>
				<p><img src="/i/emails.png" alt="email clients" class="fluid" height="55" width="350"></p>
				<p>The project concluded when both the creative director and Cloudee partners approved each template.</p>
			</div>
			<figure><img src="/content/work/4.cloudee/i/cloudeeEmailSm.jpg" alt="Softwre Update Email" width="500" height="800"></figure>
		</section>
		<section class="cf full nobottom">
			<figure><img src="/content/work/4.cloudee/i/cloudee-series.jpg" alt="Cloudee series of emails" width="1000" height="500"></figure>
		</section>
	</article>
</div>
:footer
:footer-js
:analytics
</body>
</html>