---
layout: default
title: Bio
description: About Ted Goas
---

<div class="inside-container">
  <h1>Bio</h1>
  <p class="text-xl text-secondary mb-8">
    A few things that helped shape who I am today.
  </p>

  <section class="bio-timeline">
    <div class="timeline-item">
      <div class="timeline-year">1979</div>
      <div class="timeline-content">
        <p>I was born on my mother's 30th birthday. What are the odds?</p>
        <img src="/assets/img/bio/baby-ted.jpg" alt="Photo of me as a baby." class="timeline-image">
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-year">1985</div>
      <div class="timeline-content">
        <p>Growing up, my parents involved me in a lot of organized sports. I played a little of everything, but got a heavy dose of soccer and hockey.</p>
        <img src="/assets/img/bio/little-ted.jpg" alt="Photo of me playing soccer as a kid." class="timeline-image">
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-year">1994</div>
      <div class="timeline-content">
        <p>Early 90's rock. NY Rangers win The Stanley Cup. Street Fighter II. The early 90's were my favorite moment in pop culture.</p>
        <img src="/assets/img/bio/90s.jpg" alt="A Street Fighter 2 screen." class="timeline-image">
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-year">1997</div>
      <div class="timeline-content">
        <p>I attended Marist College in NY. I began in Computer Science, but after a year of software programming I changed majors to graphics and design. I graduated in four years despite the switch.</p>
        <img src="/assets/img/bio/marist.jpg" alt="Marist College rotunda." class="timeline-image">
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-year">2002</div>
      <div class="timeline-content">
        <p>I discovered CSS Zen Garden and taught myself advanced CSS. I started working more off hours and my job started to become a hobby.</p>
        <img src="/assets/img/bio/css-zen-garden.jpg" alt="Screenshot of CSS Zen Garden's first theme." class="timeline-image">
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-year">2004</div>
      <div class="timeline-content">
        <p>I met a girl. One that makes me a better person and whom I consider my intellectual superior. Sara and I began dating.</p>
        <img src="/assets/img/bio/dating.jpg" alt="Sara and Ted smiling." class="timeline-image">
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-year">2005</div>
      <div class="timeline-content">
        <p>Sara and I moved to Arizona and earned post-grad degrees. I (finally) learned to question tradition and everything in my life started falling into place.</p>
        <img src="/assets/img/bio/arizona.jpg" alt="Photo of Red Rock State Park in Sedona, Arizona." class="timeline-image">
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-year">2007</div>
      <div class="timeline-content">
        <p>I continued to grow as a designer / developer hybrid, but also got pretty good at designing and coding HTML emails. I also began tinkering with website performance.</p>
        <img src="/assets/img/bio/email.jpg" alt="Screenshot of email code in a code editor." class="timeline-image">
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-year">2009</div>
      <div class="timeline-content">
        <p>After three years in Arizona, Sara and I moved back to New Jersey, bought a house, and tied the knot. My best friend is now my partner for life.</p>
        <img src="/assets/img/bio/wedding.jpg" alt="Sara and Ted's wedding." class="timeline-image">
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-year">2010</div>
      <div class="timeline-content">
        <p>I landed a job as a designer at Canfield Scientific, a biotechnology & pharmaceutical company in New Jersey. I spent my days building web products in an industry that sorely needs thoughtful design.</p>
        <img src="/assets/img/bio/canfield.jpg" alt="Front of the Canfield Scientific building." class="timeline-image">
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-year">2012</div>
      <div class="timeline-content">
        <p>Our first child, Sebastian, arrives! We're still getting the hang of the whole parenting thing…</p>
        <img src="/assets/img/bio/sebastian.jpg" alt="Photo of Sebastian as a baby." class="timeline-image">
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-year">2015</div>
      <div class="timeline-content">
        <p>Wren, our second child, arrives just before year's end. We're now a family of four.</p>
        <img src="/assets/img/bio/seb-and-wren.jpg" alt="My young family." class="timeline-image">
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-year">2016</div>
      <div class="timeline-content">
        <p>I joined Stack Overflow's design team, where I work on products that help millions of developers worldwide while working remotely on a distributed product team.</p>
        <img src="/assets/img/bio/stack-overflow.jpg" alt="Stack Overflow decorative graphic." class="timeline-image">
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-year">2018</div>
      <div class="timeline-content">
        <p>Amidst my regular product work, I contributed to our design system and led the creation of one of the first email design systems.</p>
        <img src="/assets/img/bio/stacks.jpg" alt="Stack Overflow design system homepage." class="timeline-image">
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-year">2019</div>
      <div class="timeline-content">
        <p>I spoke at a few conferences, mentored a designer on my team, and leaned into the "leadership" part of my role.</p>
        <img src="/assets/img/bio/leadership.jpg" alt="Me speaking at a conference." class="timeline-image">
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-year">2020</div>
      <div class="timeline-content">
        <p>Joined Dialpad's design team</p>
        <img src="/assets/img/bio/dialpad.png" alt="Dialpad logo." class="timeline-image">
      </div>
    </div>
  </section>
