---
layout: layouts/base.njk
title: Ted Goas
description: An Eleventy starter with modern tooling, Tailwind CSS and PurgeCSS
---
<div class="max-w-4xl bg-white mx-auto text-xl pt-8 my-16 md:rounded-lg shadow-2xl flex items-end">
 Bio!
</div>
