---
layout: default
title: Blog
description: Thoughts on design, development, and building products
---

<div class="inside-container">
  <h1>Blog</h1>

  <section class="article-list-container">
    <ul class="article-list">
    {% for post in collections.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
      <time class="text-xs text-muted text-mono">{{ post.date | readableDate }}</time>
    </li>
    {% endfor %}
    </ul>
  </section>
</div>