---
layout: default
pagination:
    data: collections.pagedPosts
    size: 1
    alias: paged
---

{%- set lazyImage = "data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%201%201'%20height%3D'500'%20width%3D'960'%20style%3D'background-color%3Argb(203%2C213%2C224)'%2F%3E" -%}
{% for post in paged.posts %}
<div>
    <a class="" href="{{ post.url | url }}">{{ post.data.title }}</a>
    {{ post.data.page.date | readableDate }}</p>
</div>
{% endfor %}
