---
layout: default
title: Newsletter
---

<article role="main" class="writing pb-36">
    <h2>The Last Few Weeks newsletter</h2>
    <p>
        A monthly roundup of product, design, email, and climate news.
    </p>
    <p>
        If you sign up, I promise I will never share or sell your info, or track you in a creepy way. You'll always be able to unsubscribe anytime instantly.
    </p>
    <div class="max-w-3xl mx-auto newsletter-form">
        <script async src="https://eocampaign1.com/form/700ea543-2654-11ed-9a32-0241b9615763.js" data-form="700ea543-2654-11ed-9a32-0241b9615763"></script>
    </div>
    <div class="newsletter-issues">
        <h3>Read past issues</h3>
        <ul>
            <li><a href="https://eocampaign1.com/web-version?p=0bf2f492-298b-11ed-9a32-0241b9615763&pt=campaign&t=1663106456&s=1560ec699a3733fc4357c5081bc29c4512d5749e6461252852b965afd89b1802">TL2W 01: Coaching designers, Uber’s Outlook-crashing email, and good climate news. </a></li>
            <li><a href="https://eocampaign1.com/web-version?p=de451e8c-428d-11ed-9a32-0241b9615763&pt=campaign&t=1664921667&s=52c1c7e365923fb3a801ec6c41f23b2cbee1ebf8cbfea08a695d5eadc6508fb4">TL2W 02: Design Debt, EVs, and Self-Teaching Products</a></li>
            <li><a href="https://eocampaign1.com/web-version?p=f602eb72-4e78-11ed-afd1-0607cdff6e39&pt=campaign&t=1666127720&s=3bf792e690e38e4aa82a3c4415d937d24abe2b50ec67eceeeb929430dba1e1b4">TL2W 03: Design apps, email apps, green apps, and more.</a></li>
            <li><a href="https://eocampaign1.com/web-version?p=c572cc6e-59df-11ed-b8d1-ddd23c18e614&pt=campaign&t=1667305350&s=f61a0e40092c31deddb5c3678c96dd84174e88d5f2dda0666b8b703f58fd7aa1">TL2W 04: Tech’s blind spot, email code, and immersive worlds.</a></li>
            <li><a href="https://eocampaign1.com/web-version?p=817fd5fc-6357-11ed-8b2c-cd7277d2b9d7&pt=campaign&t=1668346330&s=24d54dc0d660aed9aa9544ea80f04705d34f03a87a71b4d0734967cc06bee111">TLFW 05: Swim lanes, climate questions for designers, and really good illustrations.</a></li>
        </ul>
    </div>
</article>