---
layout: default
title: Newsletter
---

<article role="main" class="writing pb-36">
    <h2>The Last 2 Weeks newsletter</h2>
    <p>
        A fortnightly roundup of product, design, email, and climate news.
    </p>
    <p>
        If you sign up, I promise I will never share or sell your info, or track you in a creepy way. You'll always be able to unsubscribe anytime instantly.
    </p>
    <div class="max-w-3xl mx-auto newsletter-form">
        <script async src="https://eocampaign1.com/form/700ea543-2654-11ed-9a32-0241b9615763.js" data-form="700ea543-2654-11ed-9a32-0241b9615763"></script>
    </div>
</article>