---
layout: default
title: About Me
---

<article role="main" class="writing">
    <p>I'm an adaptable product design generalist that can learn new industries and problem spaces quickly. I’m comfortable working with product managers and researchers to understand the bounds of a problem, as well as with engineers talking about implementation details and technical constraints that might impact proposed designs.</p>
    <blockquote class="text-4xl leading-none">Great product designers think like great <strike>artists</strike> product managers. <span class="whitespace-nowrap">- Marissa Louie</span></blockquote>
    <figure><img src="/assets/img/values/mountain.svg" alt="" width="400"></figure>
    <h2>Role of Design</h2>
    <p>My primary job as a designer is to enable others to see the future. To see what could be. To help the team make better decisions faster and ultimately make our users feel like they’re in control when using our designs.</p>
    <p>Conducting user research, producing wireframes, and prototyping UIs are table stakes for any designer. A great designer’s job also includes:</p>
    <ul>
        <li><strong>📣 Facilitation:</strong> Helping communicate everyone’s ideas by making them tangible, clarifying goals, and checking for understanding. This helps rally folks in one direction and allows them to apply their own domain expertise to the problem.</li>
        <li><strong>💎 Stewardship:</strong> Protecting and promoting design, helping people in see the perspective of others, and protecting ideas early on so they're not judged too quickly and abandoned prematurely.</li>
        <li><strong>🌟 Connoisseurship:</strong> Showing folks what good design is, elevating the team’s design taste, and holding the quality line.</li>
        <li><strong>💡 Insights:</strong> Looking for unexpected insights during user research and observing cowpaths that uncover what they really want. Finding a root problem often leads to finding a root level solution that addresses many feature requests at once.</li>
    </ul>
    <p>These things give me energy. My colleague and I led a workshop on <a href="https://uxplanet.org/tips-for-leading-a-design-project-a638f5a71884">how designers lead design projects</a> at Stack Overflow.</p>
    <h2>My Process</h2>
    <p>It feels like this where other folks put a double-diamond figure and a paragraph about agile design sprints. That works sometimes, but I adapt my process to the project at hand and my change approach based on who I’m working with. When it comes to design process, I prefer flexibility over rigidness.</p>
    <figure class="flush">
        <img src="/assets/img/values/process.svg" alt="Double diamond product development process diagram" class="mx-auto mt-12">
    </figure>
    <p>That said, here are a few things I consistently index heavily on:</p>
    <ul>
        <li>Involving others early in shaping and brainstorming activities</li>
        <li>Showing work early and often, even when it’s “not ready”</li>
        <li>Working with my product team to balance business needs with user needs</li>
        <li>Guiding implementation to ensure what was designed is what ends up in the product</li>
    </ul>
    <h2>Dream Jobs</h2>
    <div class="dream-job aligned flex items-start mt-6 p-6 bg-gray-900 rounded-lg border-dashed border-gray-600 border sm:block">
        <div class="mr-8">
            <h3>Climate Change</h3>
            <p>I believe climate change is the single biggest problem mankind faces today. I’m practically a single-issue voter. Someday I’d love to apply the skills I’ve accrued over the last ~20 years in the climate tech space. I believe mankind can work out its differences, but only if it’s around to do so.</p>
        </div>
        <img src="/assets/img/values/spot-climate.svg" alt="" width="125" class="sm:mt-6">
    </div>
    <div class="dream-job aligned flex items-start mt-6 p-6 bg-gray-900 rounded-lg border-dashed border-gray-600 border sm:block">
        <div class="mr-8">
            <h3>Email platform</h3>
            <p>I’ve been designing and coding HTML emails since 2007, both professionally and <a href="https://www.cerberusemail.com/">as a hobby</a>. Someday I’d love to combine my passion for building emails with my skill as a product designer.</p>
        </div>
        <img src="/assets/img/values/spot-email.svg" alt="" width="125" class="sm:mt-6">
    </div>
</article>