---
layout: default
title: Work
pagination:
    data: collections.work
    size: 10
    alias: work
---

<ul>
{% for work in collections.work %}
    <li>
        <a class="" href="{{ work.url | url }}">{{ work.data.title }}</a>
        <time>{{ work.data.year }}</time>
    </li>
{% endfor %}
</ul>