<header id="header" class="header">
    <a href="{{ '/' | url }}" class="logo">
        <img src="/assets/img/tg-sig-logo.svg" width="119" height="56" alt="{{ site.title }}">
    </a>
    <nav role="navigation" aria-label="Main Navigation">
        <a href="/work" class="{{ 'active' if '/work' in page.url }}">Work</a>
        <a href="/values" class="{{ 'active' if '/values' in page.url }}">Values</a>
        <a href="/bio" class="{{ 'active' if '/bio' in page.url }}">Bio</a>
        <a href="/blog" class="{{ 'active' if '/blog' in page.url }}">Blog</a>
        <a href="/newsletter" class="{{ 'active' if '/newsletter' in page.url }}">Newsletter</a>
		<span>ted<span class="blockspam" aria-hidden="true">No spam plz!</span>@<!-- sdfjsdhfkjypcs -->tedgoas.com</span>
    </nav>
</header>